<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Clínica Páez</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../static/css/style.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="../../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../static/js/bootstrap.min.js"></script>

    <!-- JavaScript -->
    <script src="../../static/js/principal.js"></script>

    <!-- Custom Fonts -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- twentyTwenty -->
    <link href="../../static/css/foundation.css" rel="stylesheet">
    <link href="../../static/css/twentytwenty.css" rel="stylesheet">
    <script src="../../static/js/jquery.twentytwenty.js"></script>
    <script src="../../static/js/jquery.event.move.js"></script>


</head>

<body>

    <!-- PESTAÑAS -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a id="nombre" class="navbar-brand page-scroll" href="../">Clínica Podológica Páez</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="">Cirugía Podológica</a>
                    </li>
                    <li>
                        <a class="page-scroll" onclick="history.go(-1);">Atrás</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <section id="cirugia" class="serviciosViews">
        <div class="row">
            <h2 class="titleSerView">¿En qué consiste la cirugía Podológica?</h2>
            <br>
            <div class="col-md-6">
                <p id="podoDepText" class="textSerView">
                    Cuando no es posible mejorar un problema del pie mediante tratamientos conservadores, podemos recurrir a corregirlos mediante pequeñas intervenciones quirúrgicas en la mayoría de los casos con anestesia local, siendo intervenciones poco agresivas, que de una forma rápida y segura solucionan sus problemas de pies. 
                    <br><br>
                    En la <b>Clínica Podológica Páez</b>, utilizamos técnicas quirúrgicas novedosas en el tratamiento de las afecciones del pie, utilizando técnicas pioneras como la <b>Técnica LASER</b> para el tratamiento de Cirugía Ungueal, Papilomas y Quistes, que permiten una mejor recuperación y reducen al mínimo el dolor post-operatorio.<br><br> 
                    Los procedimientos quirúrgicos se realizan con anestesia local y en régimen ambulatorio (no precisan hospitalización) por lo que el paciente se va caminando a su casa.   
                    <br><br>
                    En Clínica Podológica Páez tenemos una dilatada experiencia desde el año 2000, aplicando las técnicas quirúrgicas más avanzadas y avaladas por la ciencia, además desde la Clínica Podológica Páez realizamos una labor de formación de otros profesionales podólogos mediante la impartición de cursos de Cirugía Podológica a nivel nacional y Docencia Universitaria.
                </p>
            </div>
            <div class="col-md-6 text-center">
                <img id ="podoDepImg"src="../../static/img/cirugia/Optimized-Foto 1.png">
            </div>
            <div class="col-md-12">
                <p class="textSerView"></p>
            </div>
        </div>
        <div class="row">
            <h2 class="titleSerView">¿Qué técnicas utilizamos en Cirugía Podológica?</h2>
            <h3 class="text-center">Los principales problemas que podemos solucionar mediante la cirugía podológica son:</h3>
            <br>
            <ul class="textSerView">
                <li><a class="ciruEnlace" href="encarnadas" target="_blank">Uñas encarnadas</a><a href="encarnadas" target="_blank">
                <span id="iconContact" class="fa-stack fa-1x">
                    <i id="iconsShape" class="fa fa-chevron-right fa-stack-1x fa-inverse"></i>
                </span>
            </a></li>
                <li><a class="ciruEnlace" href="exotosis" target="_blank">Exóstosis</a><a href="encarnadas" target="_blank">
                <span id="iconContact" class="fa-stack fa-1x">
                    <i id="iconsShape" class="fa fa-chevron-right fa-stack-1x fa-inverse"></i>
                </span>
            </a></li>
                <li><a class="ciruEnlace" href="helomas" target="_blank">Callos y Helomas</a><a href="encarnadas" target="_blank">
                <span id="iconContact" class="fa-stack fa-1x">
                    <i id="iconsShape" class="fa fa-chevron-right fa-stack-1x fa-inverse"></i>
                </span>
            </a></li>
                <li><a class="ciruEnlace" href="" target="_blank">Hallux Vagux / Juanetes</a><a href="encarnadas" target="_blank">
                <span id="iconContact" class="fa-stack fa-1x">
                    <i id="iconsShape" class="fa fa-chevron-right fa-stack-1x fa-inverse"></i>
                </span>
            </a></li>
                <li><a class="ciruEnlace" href="" target="_blank">Dedos en garra / Dedos en martillo</a><a href="encarnadas" target="_blank">
                <span id="iconContact" class="fa-stack fa-1x">
                    <i id="iconsShape" class="fa fa-chevron-right fa-stack-1x fa-inverse"></i>
                </span>
            </a></li>
                <li><a class="ciruEnlace" href="" target="_blank">Neuroma de Morton</a><a href="encarnadas" target="_blank">
                <span id="iconContact" class="fa-stack fa-1x">
                    <i id="iconsShape" class="fa fa-chevron-right fa-stack-1x fa-inverse"></i>
                </span>
            </a></li>
                <li><a class="ciruEnlace" href="" target="_blank">Tumores / Quistes del pie</a><a href="encarnadas" target="_blank">
                <span id="iconContact" class="fa-stack fa-1x">
                    <i id="iconsShape" class="fa fa-chevron-right fa-stack-1x fa-inverse"></i>
                </span>
            </a></li>
            </ul>
            <br>
            <div id="enlaceCorreo" class="row text-center">
                <a class="textSerView enlaceCorreoText" href="../contactView">Solicitar mas información de este servicio</a>
            </div>
        </div>
    <div class="col-sm-6 col-sm-offset-3 text-center">           
        <button onclick="history.go(-1);" id="botonVolver" class="btn btn-primary">Volver</button>
    </div>
    </section>
        <!-- TwentyTwenty container 
        <div id="container1">
            <img src="../../static/img/portfolio-2.jpg">
            <img src="../../static/img/portfolio-1.jpg">
        </div>
        -->

</body>

