<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Clínica Páez</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../static/css/style.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="../../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../static/js/bootstrap.min.js"></script>

    <!-- JavaScript -->
    <script src="../../static/js/principal.js"></script>

    <!-- Custom Fonts -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">



</head>

<body id="bodyContact">

    
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a id="nombre" class="navbar-brand page-scroll" href="#page-top">Clínica Podológica Páez</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <section>
        <div id="containerContact" class="container">
            <form method="post" name="sentMessage" id="contactForm">
                {% csrf_token %}
                <div class ="row text-center">
                    <h1>Rellena este formulario y le contestaremos cuanto antes</h1>
                    <br>
                </div>
                <div class="row">
                    <div class="col-md-4 text-center">
                        <div id="contactInfo" class="form-group" >
                            <h3 class="textContact">Nombre:</h3>{{form.nombre}} <!--Poner mas bonito esto vieo ya-->
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div id="contactInfo" class="form-group">
                            <h3  class="textContact">Email:</h3> {{form.email}} <!--Poner mas bonito esto vieo ya-->
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div id="contactInfo" class="form-group">
                            <h3 class="textContact">Teléfono:</h3> {{form.telefono}} <!--Poner mas bonito esto vieo ya-->
                        </div>
                    </div>
                </div>
                <br><br><br>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="form-group">
                            <h3 class="textMessage">Mensaje:</h3> {{form.mensaje}}
                        </div>
                    </div>
                    <div class="col-md-12 text-center">
                    <div class="form-group">
                         <h3>Escribe las letras mostradas en el captcha</h3>{{form.captcha}}<button class='js-captcha-refresh'>X</button>
                    </div>
                </div>
                </div>
                <div class="row text-center">
                    <div class="form-actions">
                      <button id="contactSubmit" class="btn btn-primary" type="submit">Enviar</button>

                    </div>
                </div>
            </form>
      </div>
    </section>


</body>