<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Clínica Páez</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../static/css/style.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="../../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../static/js/bootstrap.min.js"></script>

    <!-- JavaScript -->
    <script src="../../static/js/principal.js"></script>

    <!-- Custom Fonts -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">



</head>

<body>

    <!-- PESTAÑAS -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a id="nombre" class="navbar-brand page-scroll" href="../">Clínica Podológica Páez</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="">Curriculum de Joaquín Páez Moguer</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="../">Atrás</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <section>
        <div id="CVheader" class="row text-center">
            <div class = "col-sm-12 text-center">
                <h1>Joaquín Páez Moguer</h1>
                <h2>Director Clínica Podológica Páez</h2>
                <h3>Formacion académica:</h3>
            </div>
        </div>
        <div class = "row text-center">
            <div class = "col-sm-4 text-center">
                    <p class="textFormAcademica">
                    Diplomado en Podología por la Universidad de Sevilla en el año 2000.
                    </p>
            </div>
            <div class = "col-sm-4 text-center">
                <p class="textFormAcademica">
                    Doctor Cum Laude en Ciencias de la Salud con la Tesis: “Valoración del pie mediante resultados funcionales e informados por el paciente”. Universidad de Málaga año 2012
                </p>
            </div>
            <div class = "col-sm-4 text-center">
                <p class="textFormAcademica">
                    Máster en “Actualidades Ciencias de la Salud” por la Universidad de Málaga en el año 2009.
                </p>
            </div>
        </div>
        <div id="CVAcademica" class="row text-center">
            <div class = "col-sm-4 text-center">
                <a href="http://www.fefp.us.es/" ><img id="uniPics" src="../../static/img/uniSevilla.PNG" class="img-responsive img-rounded" alt=""></a>
            </div>
            <div class = "col-sm-4 text-center">
                <img id="uniPics" src="../../static/img/Optimized-Joaquín Paez Moguer.JPG" class="img-responsive img-circle" alt="">
            </div>
            <div class = "col-sm-4 text-center">
                <a href="http://www.uma.es/facultad-de-ciencias-de-la-salud" ><img id="uniPics" src="../../static/img/saludMalaga2.jpg" class="img-responsive img-rounded" alt=""></a>
            </div>
        </div>
      
    </section>
    <br>
        <div class="row text-center"><div class="col-sm-12"><h1> Otros logros </h1></div></div>
    <br>
    <section>
        <div class="col-sm-5 col-sm-offset-1">
            <h3><b>Otras titulaciones oficiales universitarias</b></h3>
            <ul class="listaLogros">
                <li><p>Postgrado en PATOMECÁNICA DEL PIE Y SUS TRATAMIENTOS ORTOPODOLÓGICOS. por la Universidad de Barcelona 2003.</p></li>
                <li><p>Técnico Ortopédico por la . Universidad Internacional de Cataluña 2006.</p></li>
            </ul>

            <h3><b>Ponencias y comunicaciones en congresos</b></h3>
            <ul>
                <li><p>Ponencia: “Patomecánica del Pie Saltador”. Presentado en el I Seminario de Investigación y Comunicación en Podología. Universidad de Sevilla. Sevilla 2000.</p></li>
                <li><p>Ponencia: “ANALISIS EN LAS PRUEBAS DEPORTIVAS DE SALTO EN ATLETISMO. REPERCUSIONES PODOLÓGICAS”. Presentado en el XXXI Congreso Nacional de Podología celebrado en Valencia en Octubre del 2000.</p></li>
                <li><p>Ponencia: “Pie Cavo Anterior. Visión en el Plano Sagital”. 39 Congreso Nacional de Podología.  Madrid 2008.</p></li>
                <li><p>Ponencia: “Análisis de la Investigación en España en el Ámbito de la Podología”. 39 Congreso Nacional de Podología. Madrid 2008.</p></li>
                <li><p>Ponencia: “Artroplastia del 2º Dedo”. Presentada en las Sesiones Clínicas Podológicas. Colegio Profesional de Podólogos de Andalucía celebradas en Málaga 2008.</p></li>
                <li><p>Comunicación Oral: “Fascitis Plantar, en el Inicio de la Práctica Deportiva en Personas Mayores. Prevención y Tratamiento”. Presentada en el III Congreso Internacional de Actividad Físico-Deportiva para Mayores. Málaga 2009.</p></li>
                <li><p>Comunicación Oral: “Tratamiento de la Coordinación Propioceptiva y Función Motora en Pacientes Mayores”. Presentada en el III Congreso Internacional de Actividad Físico-Deportiva para Mayores. Málaga 2009.</p></li>
                <li><p>Comunicación Oral: “El Masaje Mecánico de Miembros Inferiores en Mayores”. Presentada en el III Congreso Internacional de Actividad Físico-Deportiva para Mayores. Málaga 2009.</p></li>
                <li><p>Ponencia: “Plataforma de Deslizamiento para la Propiocepción y Coordinación en Podología, Fisioterapia y Rehabilitación”. Presentado en I Convención Internacional. II Congreso Internacional de Podología celebrada en La Habana, Cuba 2009.</p></li>
                <li><p>Ponencia: “Podología Física Aplicada al Pie. Interpretación Interdisciplinar”. Presentado en I Convención Internacional. II Congreso Internacional de Podología celebrada en La Habana, Cuba 2009.</p></li>
                <li><p>Ponencia: “Pie Cavo Anterior. Exploración Patomecánica y Tratamiento Ortopodológico”. Presentado en I Convención Internacional. II Congreso Internacional de Podología celebrada en La Habana, Cuba 2009.</p></li>
                <li><p>Ponencia: “Etiopatogenia Mecánica del Neurofibroma del Tercer Espacio: Consideraciones Anatómicas y Patomecánicas”. Presentado en I Convención Internacional. II Congreso Internacional de Podología celebrada en La Habana, Cuba 2009.</p></li>
                <li><p>Ponencia: “Prevención de la Hipertrofia de la Cicatriz en la Cirugía Podológica”. Presentado en las Sesiones Clínicas Podológicas celebradas en Granada 2009.</p></li>
                <li><p>Ponencia: “Novedades en el Tratamiento del Pie de Atleta”. Presentado en las Sesiones Clínicas Podológicas celebradas en Granada 2009.</p></li>
                <li><p>Ponencia: “Prevención de la Hipertrofia de la Cicatriz en la Cirugía Podológica”. Presentado en las Sesiones Clínicas Podológicas celebradas en Málaga 2009.</p></li>
                <li><p>Ponencia: “Novedades en el Tratamiento del Pie de Atleta”. Presentado en las Sesiones Clínicas Podológicas celebradas en Málaga 2009.</p></li>
                <li><p>Ponencia: “Fascitis Plantar, en el Inicio de la Práctica Deportiva. Factores de Riesgo, Prevención y Tratamiento. Presentado en el I Symposium Internacional de Biomecánica y Podología Deportiva celebrado en la Universidad de Sevilla 2009.</p></li>
                <li><p>Ponencia: “Influencia de los Soportes Plantares en Jugadores de Jockey Hierba en su Resistencia Aeróbica”. Presentado en el 40 Congreso Nacional de Podología, XV Jornadas Científicas de Podología y V Jornadas Ibéricas de Podología celebradas en Barcelona 2009.</p></li>
                <li><p>Ponencia: “Abordaje de Heridas en los Miembros Inferiores”. Presentado en la I Jornada Multidisciplinar. Hospital Virgen de la Victoria de Málaga. Málaga 2009</p></li>
                <li><p>Ponencia: “Tratamiento Quirúrgico del Condroma Subungueal Recidivante”. Presentado en las XIII Jornadas Andaluzas de Podología. Sevilla 2009.</p></li>
                <li><p>Ponencia: “Valoración de los Efectos Secundarios Localizados en el Pie durante el Tratamiento con Antineoplásicos”. Presentado en las XIII Jornadas Andaluzas de Podología. Sevilla 2009.</p></li>
                <li><p>Ponencia: “Fijación de las Osteotomías Capitales”. 41 Congreso Nacional de Podología. Gijón 2010.</p></li>
                <li><p>Ponencia: “Síndrome del Cuboides: Tratamientos Manipulativos”. 41 Congreso Nacional de Podología. Gijón 2010.</p></li>
                <li><p>Ponencia:”Adaptación Transcultural del Foot Function Index al Español”. 42 Congreso Nacional de Podología. Valencia 2011.</p></li>
            </ul>

            <h3><b>Pósters</b></h3>
            <ul>
                <li><p>"Metatarsalgias en el Pie del Mayor Físicamente Activo: ¿Provocada por el Desgaste de la Almohadilla Plantar Grasa?; Diseño de un Posible Estudio de Investigación”. Presentada en el III Congreso Internacional de Actividad Físico-Deportiva para Mayores. Málaga 2009.</p></li>
                <li><p>"Actuación del Podólogo en el Deporte”. Presentada en el III Congreso Internacional de Actividad Físico-Deportiva para Mayores. Málaga 2009.</p></li>
                <li><p>"El Masaje de Pies tras la Actividad Física”. Presentada en el III Congreso Internacional de Actividad Físico-Deportiva para Mayores. Málaga 2009.</p></li>
                <li><p>"Elija un Buen Calzado para la Actividad Física en las Personas Mayores”. Presentada en el III Congreso Internacional de Actividad Físico-Deportiva para Mayores. Málaga 2009.</p></li>
                <li>"Estudio Preliminar de la Influencia de los Soportes Plantares en Jugadores de Hockey Hierba en su Resistencia Aeróbica”. Presentado en el 40 Congreso Nacional de Podología, XV Jornadas Científicas de Podología y V Jornadas Ibéricas de Podología celebradas en Barcelona 2009.<p></p></li>
                <li><p>"Osteocondritis en el Pie del Niño”. Presentado en el 40 Congreso Nacional de Podología, XV Jornadas Científicas de Podología y V Jornadas Ibéricas de Podología celebradas en Barcelona 2009.</p></li>
                <li><p>"Uñas: Indicadores de Salud”. Presentado en el 40 Congreso Nacional de Podología, XV Jornadas Científicas de Podología y V Jornadas Ibéricas de Podología celebradas en Barcelona 2009.</p></li>
                <li><p>"¿Qué Saben de Nosotros y de sus Pies la Población Infantil?”. Presentado en las XIII Jornadas Andaluzas de Podología. Sevilla 2009.
                “Calzado de Seguridad”. Presentado en las XIII Jornadas Andaluzas de Podología. Sevilla 2009.</p></li>
                <li><p>"Actuaciones en las Tendinopatías Aquíleas”. Presentado en las II Jornadas Internacionales de Ciencias de la Salud. Granada 2010</p></li>
                <li><p>"Surgical Correction of Flexible Flatfoot. Subtalar Arthroereisis with a Sinus Tarsi Implant. XX FIP World Congress of Podiatry. Amsterdam 2010.</p></li>
                <li><p>"Poly-I-Lactic Acid (PLLA) Fixation in Podiatric Surgery”. XX FIP World Congress of Podiatry. Amsterdam 2010.</p></li>
                <li><p>"Barchelor of Podiatry in Spain”. XX FIP World Congress of Podiatry. Amsterdam 2010.</p></li>
                <li><p>"Alternative Treatment of foot Orthoses: Insoled with Liquid Silicone Gauntlet Combination”. XX FIP World Congress of Podiatry. Amsterdam 2010.</p></li>
                <li><p>"The Limitation of the First Metatarsophalangeal Joint is Associated to the Longitudinal Arch Angle? More Frequent in Men or Women?” XX FIP World Congress of Podiatry. Amsterdam 2010.</p></li>
                <li><p>"Podometric and Podobaromeric Study on Pregnant Women”. XX FIP World Congress of Podiatry. Amsterdam 2010.</p></li>
                <li><p>"Incidence of Malignant Tumors of the Foot at the Pathological Anatomy Service in Malaga”. XX FIP World Congress of Podiatry. Amsterdam 2010.
                Effectiveness of Podiatry Care on Onychomycosis”. Desing of RCT. XX FIP World Congress of Podiatry. Amsterdam 2010.</p></li>
            </ul>
        </div>
        <div class="col-sm-5">
            <h3><b>Otros méritos relevantes</b></h3>
            <ul>
                <li><p>Moderador Mesa Redonda “Sesiones Clínicas”. XII Jornadas Andaluzas de Podología. Organizadas por el Colegio Profesional de Podólogos de Andalucía. Sevilla 2008.</p></li>
                <li><p>Director del Curso Teórico-Práctico de Cirugía Ungueal. Organizado por el Colegio de Podólogos de Andalucía. Sevilla 2009.</p></li>
                <li><p>Miembro del Comité Científico de las XIII Jornadas Andaluzas de Podología. Organizadas por el Colegio Profesional de Podólogos de Andalucía. Sevilla 2009.</p></li>
                <li><p>Moderador Mesa Redonda: “Seminario de Cirugía Podológica”. XIII Jornadas Andaluzas de Podología. Organizadas por el Colegio Profesional de Podólogos de Andalucía. Sevilla 2009.</p></li>
                <li><p>Miembro del Comité Científico del “Encuentro Nacional sobre Fascitis Plantar y Talalgias” Organizado por la Sociedad Española de Biomecánica y Ortopodología y la Asociación Española de Podología Deportiva. Barcelona 2010.</p></li>
                <li><p>Director del XIV Curso de Técnicas Quirúrgicas Básicas en Cirugía Podológica del Pie”. (3,5 Créditos).  Organizado por la Asociación Española de Cirugía Podológica. Málaga 2011.</p></li>
                <li><p>Director del XV Curso de Técnicas Quirúrgicas Básicas en Cirugía Podológica del Pie”. (3,5 Créditos).  Organizado por la Asociación Española de Cirugía Podológica. Málaga 2012.</p></li>
                <li><p>Director del XVI Curso de Técnicas Quirúrgicas Básicas en Cirugía Podológica del Pie”. (3,5 Créditos).  Organizado por la Asociación Española de Cirugía Podológica. Málaga 2013.</p></li>
                <li><p>Director del Curso de Técnicas Quirúrgicas en Cirugía Podológica del Pie”. (3,5 Créditos).  Organizado por el Colegio de Podólogos de Murcia. Murcia 2013.</p></li>
            </ul>
            <h3><b>Experiencia docente</b></h3>
            <ul>
                <li><p>Profesor Seminario Teórico-Práctico: “Repercusiones Podológicas de las Pruebas de Salto en Atletismo”. 1h. Asignatura Podología Deportiva 3º Curso de Diplomado en Podología. Universidad de Sevilla. 2001.</p></li>
                <li><p>Profesor Asociado Universitario. Asignatura Quiropodología III. E.U. C.C. de la Salud de la Univ. De Málaga. Desde el 27-02-2008. 9 Créditos.</p></li>
                <li><p>Profesor Asociado Universitario. Asignatura Podología del Deporte. E.U.C.C. de la Univ. De Málaga. Desde el 27-02-2008. 4,5 Créditos.</p></li>
                <li><p>Profesor: “Curso Seminario de Actualización en Anatomía Quirúrgica de la Extremidad Inferior”. Universidad de Zaragoza 2008.</p></li>
                <li><p></p>Profesor Colaborador Tema: “Exploración del Pie Infantil”. 26 h. Asignatura Fisioterapia en Ortopedia Infanto-Juvenil y Reumatología. 2º Curso de la Diplomatura de Fisioterapia. E.U. C.C. de la Salud de la Univ. De Málaga 2009.</li>
                <li><p>Profesor: “Curso Seminario de Actualización en Anatomía Clínica y Disección de la Extremidad Inferior”. Universidad de Zaragoza 2009.</p></li>
                <li><p>Profesor Taller Teórico-Práctico de Cirugía Ungueal. Organizado por el Colegio Profesional de Podólogos de Andalucía. Sevilla 2009.</p></li>
                <li><p>Profesor Colaborador. Tema”Exploración del Pie”. 8h. Asignatura Fisioterapia en Ortopedia y Reumatología de 2º curso de la Diplomatura de Fisioterapia en la Escuela Universitaria de Ciencias de la Salud de la Univ. de Málaga. 2010.</p></li>
                <li><p>Profesor Taller Teórico-Práctico de Cirugía Ungueal. Organizado por el Colegio Profesional de Podólogos de Andalucía. Sevilla 2010.</p></li>
                <li><p>Profesor: “Curso Seminario de Actualización en Anatomía Clínica y Disección de la Extremidad Inferior”. Universidad de Zaragoza 2010.</p></li>
                <li><p>Profesor:”XIV Curso de Técnicas Quirúrgicas Básicas en Cirugía Podológica del Pie”. Asociación Española de Cirugía Podológica”. (3,5 créditos). Málaga 2011.</p></li>
                <li><p>Profesor del XV Curso de Técnicas Quirúrgicas Básicas en Cirugía Podológica del Pie”. (3,5 Créditos).  Organizado por la Asociación Española de Cirugía Podológica. Málaga 2012.</p></li>
                <li><p>Profesor del XVI Curso de Técnicas Quirúrgicas Básicas en Cirugía Podológica del Pie”. (3,5 Créditos).  Organizado por la Asociación Española de Cirugía Podológica. Málaga 2013.</p></li>
                <li><p>Profesor del Curso de Técnicas Quirúrgicas en Cirugía Podológica del Pie”. (3,5 Créditos).  Organizado por el Colegio de Podólogos de Murcia. Murcia 2013.</p></li>
                <li><p>Profesor del Máster de Biomecánica y Ortopodología de la Univ. de Sevilla 2009/10.</p></li>
            </ul>
            <h3><b>Artículos publicados</b></h3>
            <ul>
                <li><p>“Análisis del Gesto Deportivo en la Carrera de Velocidad: Conclusiones Podológicas”. Revista Española de Podología, ISSN 0210-1238, Vol. 12, Nº. 5, 2001, págs. 291-296.</p></li>
                <li><p>“Estudio de la Biomecánica del Ciclista: Repercusiones Podológicas”. Revista Española de Podología, ISSN 0210-1238, Vol. 12, Nº. 5, 2001, págs. 297-300.</p></li>
                <li><p>“El Pie Diabético en el Servicio Andaluz de Salud de la Provincia de Málaga”. Revista Salud del Pie. ISSN 1887-9527, Vol. XXIII, Nº. 1, 2009, págs. 6-12.</p></li>
                <li><p>“Pie Cavo Anterior. Visión en el Plano Sagital”. Podoscopio. ISSN 0212-7393, Vol. 1, Nº. 42, 2009, págs. 583-590.</p></li>
                <li><p>“Reflexiones de la investigación en España en el ámbito de la podología”. Podoscopio. Nº 42,2009, pags 691-694</p></li>
                <li><p>“Actualización en el Tratamiento Farmacológico Tópico del Pie de Atleta”. Revista Andaluza de Podología, Salud del Pie. ISSN 1887-9527, Vol. XXV, Nº. 1, Enero-Junio, 2010, págs. 22-29.</p></li>
                <li><p>“Síndrome del Cuboides; Anatomía, etiología y diagnóstico”. Revista Española de Podología. ISSN 0210-1238. 4ª Época Vol. XXI. Nº 4 Julio-Agosto, 2010, págs.- 140-144.</p></li>
                <li><p>“Evaluación de la Prescripción del Calzado en el Área Hospitalaria Centro-Oeste de Málaga”. Revista Salud del pie. ISSN 1887-952 Vol. XXVI. Nº 2. Págs.: 18-25</p></li>
                <li><p>“Osteocondroma Yuxtacortical: A propósito de un caso”. Revista Salud del Pie. ISSN 1887-952 Vol. XXVI, Nº 2. Julio-Diciembre, 2010, págs.:  34-39</p></li>
                <li><p>“Síndrome del Cuboides: Tratamiento Manipulativo”. Revista Española de Podología. ISSN 0210-1238. 4ª Época Vol.XXII, Nº1 Enero-Febrero, 2011, págs. 23-26</p></li>
                <li><p>“Fasciotomía Plantar: Tratamiento quirúrgico”. Podología Clínica, ISSN 1578-0716, Vol. 12, Nº. 1, 2011, págs. 8-12</p></li>
                <li><p>“Uso de férulas nocturnas en el tratamiento de la fasciosis plantar y tendinopatía aquilea”. Podología clínica, ISSN 1578-0716, Vol. 12, Nº. 1, 2011, págs. 14-18</p></li>
                <li><p>“Fijación de osteotomías capitales con Ácido Poliláctico (PLLA)”. Revista Española de Podología. 4ª Época. Vol XXII, Nº 5 Septiembre-Octubre, 2011,  págs. 186-188</p></li>
                <li><p>“Actualización de la fasciosis plantar. Prevención y tratamiento”. Podología Clínica, ISSN 1578-0716, Vol. 13, Nº 4, 2012, págs. 112-118.</p></li>
                
            </ul>
            <h3><b>Libros</b></h3>
            <ul>
                <li><p>“Primeras Jornadas Universitarias de Posgrado en Ciencias de la Salud”. E.U. C.C. de la salud de la univ. de Málaga. Efecto del Soporte Plantar a Medida sobre las Presiones Plantares en Deportistas: Un Estudio Transversal Analítico. ISBN: 978-84-95062-46-8</p></li>
                <li><p>Guía Práctica de Protocolos Quirúrgicos en Podología. Ed. Consejo General de Colegios Oficiales de Podólogos. 2009. ISBN:978-84-613-7277-5</p></li>
            </ul>
        </div>
        <div class="col-sm-6 col-sm-offset-3 text-center">           
            <button onclick="history.go(-1);" id="botonVolver" class="btn btn-primary">Volver</button>
        </div>

    </section>

</body>