<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Clínica Páez</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../static/css/style.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="../../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../static/js/bootstrap.min.js"></script>

    <!-- JavaScript -->
    <script src="../../static/js/principal.js"></script>

    <!-- Custom Fonts -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">



</head>


<body>

    <!-- PESTAÑAS -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <a id="nombre" class="navbar-brand page-scroll" href="#page-top">Clínica Podológica Páez</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="">Curriculum de Pilar Camarero Gómez</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section>
        <div id="CVheader" class="row text-center">
            <div class = "col-sm-12 text-center">
                <h1>Pilar Camarero Gómez</h1>
                <h2>Podóloga</h2>
                <h2>Formacion académica:</h2>
            </div>
        </div>
        <div class = "col-sm-12">
                <ul style="list-style-type:square">
                    <li><h4>Diplomado universitario en enfermería, en E.U.E Diputación Provincial de Málaga (1998/2001).</h4></li>
                    <li><h4>Diplomado en Podología. E.U. Ciencias de la Salud. Málaga. (2005/2008).</h4></li>
                    <li><h4>Máster en Investigación en Medicina Clínica. Universidad Miguel Hernández de Elche (2011/2012)</h4></li>
                </ul>
            </div>
        <br>
            <div class="row text-center"><div class="col-sm-12"><h1> Otros logros </h1></div></div>
        <br>
        <div class="col-sm-12">
            <h3><b>Otras titulaciones oficiales universitarias</b></h3>
            <ul class="listaLogros">
                <li><p>Experto Universitario Crecimiento Celular y Cáncer. UNED. (2006/2007).</p></li>
                <li><p>Experto Universitario Nutrición Artificial Ambulatoria y Domiciliaria. UNED. (2007/2008).</p></li>
            </ul>

            <h3><b>Experiencia docente</b></h3>
            <ul>
                <li><p>Profesora “Curso Seminario de actualización en Anatomía Clínica y disección de la extremidad anterior” 2010. Universidad de Zaragoza, Departamento de Anatomía e Histología Humanas.</p></li>
                <li><p>Profesora “Aplicación de Cuidados Integrales en la Práctica Enfermera”. 2009, Málaga. Organizado por FUDEN.</p></li>
                <li><p>Profesora “Bases Anatómicas y Químicas para Enfermería. Fundamentos en Farmacología y Dietética”. 2009, Málaga. Organizado por FUDEN.</p></li>
                <li><p>Profesora “Cuidados y Procedimientos Aplicados a la Enfermería Médico-Quirúrgica”. 2009, Málaga. Organizado por FUDEN.</p></li>
                <li><p>Profesora “Nuevas dianas terapéuticas”. 2009. Realizado en el Hospital Universitario Virgen de la Victoria (Málaga).</p></li>
            </ul>
            <h3><b>Articulos publicados</b></h3>
            <ul>
                <li><p>“Actualización de la fasciosis plantar. Prevención y tratamiento”. Publicado en Podología Clínica, Vol 13 Nº4, Octubre-diciembre 2012.</p></li>
                <li><p> “Actualización en el tratamiento farmacológico tópico del pie de atleta”. Publicado en Salud del Pie, editada por el Colegio de Podólogos, nº 1 correspondiente vol.XXV. Enero-junio 2010.Con ISSN 1887-9527.</p></li>
                <li><p>“Recomendaciones para el buen uso del calzado de seguridad”. Publicado en Salud del Piel, editada por el Colegio Andaluz de Podólogos, nº 4 correspondiente al 4º trimestre de 2008, con ISSN1887-927.</p></li>
                <li><p>“Afectación ungueal y dérmica secundaria a tratamientos antineoplásicos”. Publicado en Salud del Pie, editada por el Colegio Andaluz de Podólogos. nº 1, 1º Trimestre 2008,14-19. Con ISSN1887-92.</p></li>
                <li><p>“Síndrome de Acortamiento de Isquiotibiales: Caso clínico en marchador”. Publicado en Podología Clínica, 2007,8(4) ,12.</p></li>
            </ul>
            <h3><b>Capítulos de libros</b></h3>
            <ul>
                <li><p>Elaboración del capítulo 4 Módulo 3, “Hormonoterapia”. Para LA FUNDACIÓN PARA EL DESARROLLO DE LA ENFERMERÍA, FUDEN, en el proyecto “Líneas de Especialización de Enfermería: Colección y Acciones formativas.” Área de Capacitación en Cuidados Oncológicos. Título del Libro: Tratamientos contra el Cáncer: Principios, Terapéutica y Respuesta Evolutiva. ISBN: 978-84-92557-35-6.</p></li>
                <li><p>Elaboración del capítulo 5 Módulo 3, “Bioterapia”. Para LA FUNDACIÓN PARA EL DESARROLLO DE LA ENFERMERÍA, FUDEN, en el proyecto “Líneas de Especialización de Enfermería: Colección y Acciones formativas.” Área de Capacitación en Cuidados Oncológicos. Título del Libro: Tratamientos contra el Cáncer: Principios, Terapéutica y Respuesta Evolutiva. ISBN: 978-84-92557-35-6.</p></li>
                <li><p></p>Elaboración del capítulo 7 Módulo 3, “Nuevos agentes terapéuticos”. Para LA FUNDACIÓN PARA EL DESARROLLO DE LA ENFERMERÍA, FUDEN, en el proyecto “Líneas de Especialización de Enfermería: Colección y Acciones formativas.” Área de Capacitación en Cuidados Oncológicos. Título del Libro: Tratamientos contra el Cáncer: Principios, Terapéutica y Respuesta Evolutiva. ISBN: 978-84-92557-35-6.</li>
                <li><p></p>En fase de elaboración del capítulo, “Investigación en enfermería oncológica”. Para LA FUNDACIÓN PARA EL DESARROLLO DE LA ENFERMERÍA, FUDEN, en el proyecto “Líneas de Especialización de Enfermería: Colección y Acciones formativas.” Área de Capacitación en Cuidados Oncológicos.</li>
            </ul>
            <h3><b>Pertenencia a Consejos de redacción de revistas</b></h3>
            <ul>
                <li><p>Miembro del Consejo de Redacción y Edición de la Revista Enfermería Docente del Hospital Univ. Virgen de la Victoria de Málaga 2008-2012.</p></li>
            </ul>
            <h3><b>Otros méritos de investigación relevantes</b></h3>
            <ul>
                <li><p>Miembro de la Comisión de Calidad: Apoyo a la Investigación Enfermera del Hospital Univ. Virgen de la Victoria durante el año 2009-2012.</p></li>
                <li><p>Miembro de la Comisión de Calidad: Humanización de los Cuidados del Hospital Univ. Virgen de la Victoria 2009 -2011.</p></li>
                <li><p></p></li>
                <li><p>Miembro del Comité Científico de las I Jornadas Multidisciplinar “Abordaje de Heridas en MMII.” 30 octubre 2009. Málaga.</p></li>
            </ul>

            
        </div>
        <div class="col-sm-12">
            <h3><b>Ponencias y comunicaciones en Congreso</b></h3>
            <ul>
                <li><p>“Manejo ambulatorio de la fiebre con o sin neutropenia en pacientes ancianos con síndrome mielodisplásico tratados con Azacitidina”. 17º Congreso nacional de Enfermería Hematológica.18 al 20 octubre de 2012.</p></li>
                <li><p>Ponencia: “Efecto de la medial Heel Skive en las presiones plantares del pie”. XV Jornadas Andaluzas de Podología-I Encuentro Internacional de Podología Clínica. 18 y 19 Octubre de 2011</p></li>
                <li><p>Caso Clínico: “Insuficiencia Cardiaca secundaria a tratamiento quimioterápico”. XXXI Congreso Nacional de la Asociación Española de Enfermería en Cardiología “En cada latido, una ilusión”, 5 al 7 mayo 2010, Málaga.</p></li>
                <li><p>Ponencia: “Valoración de los efectos secundarios localizados en el pie durante el tratamiento con antineoplásicos”. XIII Jornadas Andaluzas de Podología, 27-28 de Noviembre del 2009, Sevilla.</p></li>
                <li><p>Ponencia: “Tratamiento Quirúrgico del Condroma Subungueal recidivante”. XIII Jornadas Andaluzas de Podología, 27-28 de Noviembre del 2009, Sevilla.</p></li>
                <li><p>Ponencia: “Técnica Fenol-Alcohol, en la Cirugía de la Verruga Plantar”. 40 Congreso Nacional de Podología. XV Jornadas Científicas de Podología. V Jornadas Ibéricas de Podología. 9-11 Octubre 2009, Barcelona.</p></li>
                <li><p>Comunicación Oral: “Valoración de Enfermería de los Efectos Dérmicos Secundarios a Administración de Azacitidina SBC”. 14º Congreso Nacional de Enfermería Hematológica, celebrado del 15-17 octubre 2009. Torremolinos (Málaga).</p></li>
                <li><p>Ponencia: V Curso de Voluntariado FMAEC, celebrado 8-5 de Noviembre 2007 en Málaga.</p></li>
            </ul>
            <h3><b>Poster</b></h3>
            <ul>
                <li><p>“Efecto de la información sobre la ansiedad de usuarios en tratamiento domiciliario con infusor de 5-Fu del Hospital Virgen de la Victoria de Málaga”. Presentado en las Jornadas de Enfermería Oncológica. Celebrado en Córdoba 3-4 Mayo 2012.</p></li>
                <li><p>“Planteamiento de un estudio sobre el uso de la medicina tradicional o las terapias complementarias por los pacientes del Hospital de Día Oncohematológico del Hospital Virgen de la Victoria de Málaga”. Presentado en el XIII Congreso Nacional de Enfermería Oncológica.  Celebrado en Sitges 18-21 Mayo de 2011.</p></li>
                <li><p>“Guías escritas en un hospital de día Oncohematológico. Nuestra experiencia”. Presentado en el XIII Congreso Nacional de Enfermería Oncológica.  Celebrado en Sitges 18-21 Mayo de 2011.</p></li>
                <li><p>“Registros en primera visita en consulta de enfermería de hospital de día: Información en toxicidades por quimioterapia y plan de cuidados”. Presentado en las Jornadas de Enfermería Oncológica celebradas en Donostia- San Sebastián, los días 21 y 22 Octubre de 2010.</p></li>
                <li><p>“Clasificación de Cardiotoxicidad inducidas por antineoplásicos”. Presentado en las Jornadas de Enfermería Oncológica celebradas en Donostia- San Sebastián, los días 21 y 22 Octubre de 2010.</p></li>
                <li><p> “Toxicidad cardiaca secundaria a tratamientos antineoplásicos”. XXXI Congreso Nacional de la Asociación Española de Enfermería en Cardiología “En cada latido, una ilusión”, celebrado 5 al 7 Mayo 2010, Málaga.</p></li>
                <li><p>“Calzado de Seguridad”. XIII Jornadas Andaluzas de Podología, 27-28 de Noviembre del 2009, Sevilla.</p></li>
                <li><p>“Uñas: Indicadores de Salud”. 40 Congreso Nacional de Podología. XV Jornadas Científicas de Podología. V Jornadas Ibéricas de Podología. 9-11 octubre 2009.</p></li>
                <li><p>“Afectación Ungueal, Dérmica y/o de Mucosas Secundaria a Tratamiento Antineoplásicos”. III Jornadas de Intercambio Científico. 12 de Junio del 2009 Málaga. Premio al mejor Poster.</p></li>
                <li><p>“Formación e información en la administración de Nuevas Dianas Terapéuticas en su forma oral: ¿Una necesidad?”. Presentado en el XII Congreso Nacional de la Sociedad Española de Enfermería Oncológica. Santiago de Compostela, del 3 al 6 junio de 2009. Aprobado por la subcomisión de Investigación Clínica del Hospital Universitario “Virgen de la Victoria”, de Málaga, reunida el día 11 de mayo de 2009.</p></li>
                <li><p>“Toxicidad Ungueal, Dérmica y/o de mucosas secundaria a tratamientos Antineoplásicos”. Presentado en las Jornadas Calidad y Seguridad para el Paciente oncológico. Oviedo 18 y 19 septiembre de 2008. Organizado por la SEEO .Ganador del primer premio.</p></li>
                <li><p>“Afectación ungueal en pacientes oncológicos” Presentado en las XI Jornadas Andaluzas de Podología. Málaga 23 y 24 de noviembre de 2007. Organizadas por el Colegio de Podología de Andalucía.</p></li>
                <li><p>“Seguridad hacia los pacientes en un hospital de día oncohematológico” Presentado en el XI Congreso Nacional de la SEEO. Granada 30-31 mayo y 1-2 junio de 2007.</p></li>
            </ul>
        </div>
        <div class="col-sm-6 col-sm-offset-3 text-center">           
            <a href="../"><button id="botonVolver" class="btn btn-primary">Volver</button></a>
        </div>
    </section>




</body>