<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Clínica Páez</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../static/css/style.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="../../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../static/js/bootstrap.min.js"></script>

    <!-- JavaScript -->
    <script src="../../static/js/principal.js"></script>

    <!-- Custom Fonts -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- twentyTwenty -->
    <link href="../../static/css/foundation.css" rel="stylesheet">
    <link href="../../static/css/twentytwenty.css" rel="stylesheet">
    <script src="../../static/js/jquery.twentytwenty.js"></script>
    <script src="../../static/js/jquery.event.move.js"></script>



</head>

<body>

    <!-- PESTAÑAS -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a id="nombre" class="navbar-brand page-scroll" href="../../">Clínica Podológica Páez</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="">Exostosis</a>
                    </li>
                    <li>
                        <a class="page-scroll" onclick="history.go(-1);">Atrás</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section id="cirugia" class="serviciosViews">
        <div class="row">
            <h2 class="titleSerView">¿Qué son los Dedos en Garra?</h2>
            <br>
            <div id="podoDepText" class="col-md-6">
                <p class="textSerView">
                    Los Dedos en Garra son una deformación en el plano sagital de uno o más dedos menores de los pies, siendo más frecuente la afectación en 2º y 3º dedo. 
                    <br><br>
                    Los Dedos en Garra provocan un mayor roce con el calzado y suelen ir acompañados de Callos y Helomas que producen dolor debido a la fricción con el calzado.
                    <img id ="" src="../../static/img/cirugia/garra/1.png">
                </p>
            </div>
            <div id="podoDepImg" class="col-md-6 text-center">
                <img src="../../static/img/cirugia/garra/2.png">
            </div>
            <div class="col-md-12">
                <p class="textSerView"></p>
            </div>
        </div>
        <div class="row">
            <h2 class="titleSerView">¿Por qué se produce los dedos en Garra?  </h2>
            
            <div class="col-md-12">
                <p class="textSerView">
                    <img id ="podoDepImg"src="../../static/img/cirugia/garra/3.png">
                    <br><br>
                    La deformación está causada por la desviación de las articulaciones metatarsofalángicas y/o interfalángicas y un desequilibrio entre los tendones de los músculos flexores y extensores del y la musculatura propia del pie. Dedos excesivamente largos, Enfermedades Reumatológicas, Alteraciones Biomecánicas y Neurológicas son causa de la aparición del Dedo en Garra. El uso de calzado estrecho, fomenta y empeora el cuadro.
                    <br><br>
                    <img id ="podoDepImg"src="../../static/img/cirugia/garra/4.png">
                </p>
            </div>
        </div>
        <div class="row">
            <h2 class="titleSerView">¿Cómo es la Cirugía del Dedo en Garra? </h2>
            <br>
            <div class="col-md-12">
                <img id ="podoDepImg"src="../../static/img/cirugia/garra/5.png">
                <p class="textSerView">
                    Cuando la deformación de los Dedos en Garra no mejora con el tratamiento conservador, se recomienda el tratamiento quirúrgico. En la Clínica Podológica Páez realizamos procedimientos donde se produce una realineación del dedo, con agujas reabsorbibles. 
                    <br><br>
                    Los procedimientos quirúrgicos se realizan con anestesia local y en régimen ambulatorio (no precisan hospitalización) por lo que el paciente se va caminando a su casa.
                    <br><br>
                    Es una cirugía indolora y que permite una <b>rápida incorporación</b> a la vida normal del paciente.
                    <br><br>
                </p>
            </div>

        </div>
        <div id="enlaceCorreo" class="row text-center">
            <a class="textSerView enlaceCorreoText" href="../../contactView">Solicitar más información de este servicio</a>
        </div>
    </section>

</body>