<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Clínica Páez</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../static/css/style.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="../../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../static/js/bootstrap.min.js"></script>

    <!-- JavaScript -->
    <script src="../../static/js/principal.js"></script>

    <!-- Custom Fonts -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- twentyTwenty -->
    <link href="../../static/css/foundation.css" rel="stylesheet">
    <link href="../../static/css/twentytwenty.css" rel="stylesheet">
    <script src="../../static/js/jquery.twentytwenty.js"></script>
    <script src="../../static/js/jquery.event.move.js"></script>


</head>

<body>

    <!-- PESTAÑAS -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a id="nombre" class="navbar-brand page-scroll" href="../../">Clínica Podológica Páez</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="">Cirugía Ungeal</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="../">Atrás</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <section id="cirugiaEncarnada" class="serviciosViews">
        <div class="row">
            <h2 class="titleSerView">¿Qué es la uña encarnada? </h2>
            <br>
            <div class="col-md-6">
                <p class="textSerView">
                    <br><br>
                    La <b>onicocriptosis o uña encarnada</b> es una afección muy frecuente que se produce cuando el borde libre de la uña se clava en el dedo. 
                    <br><br>
                    Generalmente afecta al primer dedo del pie y suele ir acompañada de dolor, siendo uno de los problemas más dolorosos del pie, enrojecimiento e inflamación, llegando en muchas ocasiones a infectarse y supurar.
                    <br><br> 
                    
                </p>
            </div>
            <div class="col-md-6">
                    <img src="../../static/img/cirugia/encarnada/1.png">
            </div>
            <div class="col-md-6">
                    <img src="../../static/img/cirugia/encarnada/2.png">
            </div>
            <div class="col-md-6">
                <p class="textSerView">
                    La uña encarnada, puede llegar a ser seria en pacientes con diabetes, mala circulación sanguínea y problemas de sensibilidad de los pies.
                    <br><br>
                    En los casos leves el tratamiento conservador con retirada de la espícula es suficiente, pero en casos crónicos, con infecciones reiteradas, la solución siempre debe ser quirúrgica. 
                </p>
            </div>

        </div>
        <div class="row">
            <h2 class="titleSerView">¿Por qué se produce la uña encarnada?</h2>
            <div class="col-md-6">
                <p class="textSerView">
                    <br><br><br>
                    La aparición de la uña encarnada se puede deber al resultado de muchos factores, como son el mal corte de uñas, como cortarlas excesivamente, o cortarlas de forma redondeada, deformaciones de las uñas, <b>Hongos Ungueales o Onicomicosis</b> el uso de calzado estrecho, traumatismo y la presencia de deformaciones de los pies como son los <b>Dedos en Garra o los Juanetes</b>. 
                </p>
            </div>
            <div class="col-md-6">
                <img src="../../static/img/cirugia/encarnada/3.png">
            </div>
        </div>
        <div class="row">
            <h2 class="titleSerView">¿Cómo es Cirugía de la uña encarnada?  </h2>
            <div class="col-md-12">
                <p class="textSerView">
                    <br>
                    En <b>Clínica Podológica Páez</b>, realizamos una retirada parcial de la uña y de la matriz ungueal que produce las molestias.
                    <br><br>
                </p>
            </div>
            <div class="col-md-12">
                <img src="../../static/img/cirugia/encarnada/4.png">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="textSerView">
                    <br>
                    La <b>Cirugía Ungueal</b> la realizamos mediante la <b>Técnica laser</b>, técnica de la que somos pioneros en su uso en Podología para la resolución de la <b>Uña Incarnada</b>. Es una técnica segura, que se puede aplicar desde niños pequeños a mayores y que se realiza con anestesia local
                    <br><br>
                </p>
            </div>
            <div class="col-md-12">
                <img src="../../static/img/cirugia/encarnada/5.png">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="textSerView">
                    <br>
                    La cirugía es la <b>solución definitiva</b>, siendo esta indolora, evitando el uso de puntos de sutura lo que permite una rápida incorporación a la vida normal del paciente y con <b>excelentes resultados estéticos</b>.
                </p>
            </div>
            <div class="col-md-12">
                <img src="../../static/img/cirugia/encarnada/6.png">
            </div>
        </div>
        <div id="enlaceCorreo" class="row text-center">
                <a class="textSerView enlaceCorreoText" href="../../contactView">Solicitar mas información de este servicio</a>
        </div>
    </section>
</body>

