<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Clínica Páez</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../static/css/style.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="../../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../static/js/bootstrap.min.js"></script>

    <!-- JavaScript -->
    <script src="../../static/js/principal.js"></script>

    <!-- Custom Fonts -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- twentyTwenty -->
    <link href="../../static/css/foundation.css" rel="stylesheet">
    <link href="../../static/css/twentytwenty.css" rel="stylesheet">
    <script src="../../static/js/jquery.twentytwenty.js"></script>
    <script src="../../static/js/jquery.event.move.js"></script>



</head>

<body>

    <!-- PESTAÑAS -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a id="nombre" class="navbar-brand page-scroll" href="../">Clínica Podológica Páez</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="">Estudio de la pisada</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="../">Atrás</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section id="podologiaDeportiva" class="serviciosViews">
        <div class="row">
            <h2 class="titleSerView">¿Cómo sé si necesito un estudio de la marcha? </h2>
            <br>
            <div id="podoDepText" class="col-md-6">
                <p class="textSerView">
                    Al día realizamos entre <b>8000 y 10000 pasos</b>. Cada paso ocasiona un impacto a las articulaciones, siendo este impacto superior al peso de la persona y al final del día la suma de estos impactos puede provocar la aparición de dolores en pies, rodilla, cadera o espalda, sobre todo si existe alteraciones en la marcha y esta no se realiza de forma adecuada. 
                    <br><br>
                    <img id ="" src="../../static/img/estudioPisada/2.png">
                </p>
            </div>
            <div id="podoDepImg" class="col-md-6 text-center">
                <img src="../../static/img/estudioPisada/1.png">
            </div>
            <div class="col-md-12">
                <p class="textSerView"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p id="podoDepText" class="textSerView margin30px">
                    En estas ocasiones es recomendable realizar un estudio de la pisada que puede revelar el origen de estos dolores y descubrir qué tipo de pisada tienes. 
                    <br><br>
                    El estudio de la pisada es un análisis de la posición del pie y su relación con otras estructuras del cuerpo como rodilla, cadera y espalda. Con un correcto estudio de la pisada podemos diagnosticar, tratar y prevenir todos aquellos problemas relacionados con una incorrecta forma de caminar.
                    <br><br>
                    En Clínica Podológica Páez disponemos de un equipo altamente cualificado y de las últimas tecnologías para el análisis de la pisada tanto en estática con la Plataforma Digital Podobit, foto 4 como en dinámica  con el Sistema Análisis Optogait
                </p>
            </div>
            <div class="col-md-6 text-center">
                <img id ="podoDepImg"src="../../static/img/estudioPisada/3.png">
            </div>
            <div class="col-md-12">
                <p class="textSerView"></p>
            </div>
        </div>
        <div class="row">
            <h2 class="titleSerView">¿En qué consiste el estudio?</h2>
            <h3 class="text-center">Los principales problemas que podemos solucionar mediante la cirugía podológica son:</h3>
            <br>
            <ul class="textSerView">
                <li class="estPisadaList">
                    <b>Estudio en la Camilla</b> donde evaluamos la estructura del pie, rodilla y cadera, sus rangos articulares y musculares.
                </li>
                <li class="estPisadaList">
                    <b>Estudio Biomecánico informatizado de la huella</b>, utilizando el sistema <b>Podobit</b>, donde analizamos los puntos con aumentos de presiones plantares.
                </li>
                <li class="estPisadaList">
                    <b>Realización de Test Biomecánicos </b>, para comprobar la funcionalidad y la postura del pie, rodilla, cadera, columna y cabeza.
                </li>
                <li class="estPisadaList">
                    <b>Análisis dinámico de la pisada</b>, utilizando el sistema <b>Optogait</b>, mediante análisis de los parámetros espaciotemporales, como longitud del paso, tiempos de apoyo, velocidad, ritmo… y filmación en vídeo del ciclo de la marcha, analizando la simetría de las dos piernas.
                </li>
            </ul>
            <br>
            
        </div>
        <div class="row">
            <h2 class="titleSerView">¿Cómo podemos tratar estos problemas?</h2>
            <br>
            <div class="col-md-12">
                <p class="textSerView text-center">
                    Para el tratamiento y la prevención de estos problemas de la pisada, en Clínica Podológica Páez disponemos de un amplio abanico de posibilidades de tratamiento, según el diagnóstico y patología: Terapia Laser, Soportes Plantares, Calzadoterapia, Posturología, Vendajes Funcionales y Neuromusculares, e Infiltraciones Ecoguiadas. 
                    <br>
                </p>
            </div>
            <div class="col-md-5 col-md-offset-1">
                <ul class="textSerView">
                    <li class="estPisadaList">
                        <b>Terapia Laser</b>
                    </li>
                    <li class="estPisadaList">
                        <b>Soportes Plantares</b>
                    </li>
                    <li class="estPisadaList">
                        <b>Calzadoterapia</b>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="textSerView">
                    <li class="estPisadaList">
                        <b>Posturología</b>
                    </li>
                    <li class="estPisadaList">
                        <b>Vendajes Funcionales y Neuromusculares</b>
                    </li>
                    <li class="estPisadaList">
                        <b>Infiltraciones Ecoguiadas</b>
                    </li>
                </ul>
            </div>

        </div>
        <div id="enlaceCorreo" class="row text-center">
            <a class="textSerView enlaceCorreoText" href="../contactView">Solicitar mas información de este servicio</a>
        </div>
    <div class="col-sm-6 col-sm-offset-3 text-center">           
        <button onclick="history.go(-1);" id="botonVolver" class="btn btn-primary">Volver</button>
    </div>
    </section>


</body>