<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Clínica Páez</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../static/css/style.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="../../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../static/js/bootstrap.min.js"></script>

    <!-- JavaScript -->
    <script src="../../static/js/principal.js"></script>

    <!-- Custom Fonts -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- twentyTwenty -->
    <link href="../../static/css/foundation.css" rel="stylesheet">
    <link href="../../static/css/twentytwenty.css" rel="stylesheet">
    <script src="../../static/js/jquery.twentytwenty.js"></script>
    <script src="../../static/js/jquery.event.move.js"></script>



</head>

<body>

    <!-- PESTAÑAS -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a id="nombre" class="navbar-brand page-scroll" href="../../">Clínica Podológica Páez</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="">Exostosis</a>
                    </li>
                    <li>
                        <a class="page-scroll" onclick="history.go(-1);">Atrás</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <section id="cirugia" class="serviciosViews">
        <div class="row">
            <h2 class="titleSerView">¿Qué es una exóstosis?</h2>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="textSerView">
                    La Exóstosis es el crecimiento óseo en la superficie de un hueso normal. Puede ser aislado o afectar a varios huesos al mismo tiempo.
                    <br><br>
                </p>
                <h3>
                    - Suele aparecer con frecuencia debajo de las uñas de los primeros dedos de los pies
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <img id ="podoDepImg"src="../../static/img/cirugia/exotosis/1.png">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>
                    <br>
                    - También puede aparecer entre los dedos
                    <br>
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <br>
                <img id ="podoDepImg"src="../../static/img/cirugia/exotosis/3.png">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>
                    - O en fondo de saco
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <img id ="podoDepImg"src="../../static/img/cirugia/exotosis/4.png">
            </div>
        </div>
        <div class="row">
            <h2 class="titleSerView">¿Por qué se produce la exóstosis? </h2>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="textSerView">
                    Aunque puede existir una predisposición genética y varias enfermedades sistémicas como artritis y artrosis provocan la aparición de la exóstosis, la causa más frecuente son los traumatismos debidos a un golpe agudo o como una irritación crónica, como por ejemplo sería el uso de calzado estrecho
                    <br><br>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <img id ="podoDepImg"src="../../static/img/cirugia/exotosis/5.png">
            </div>
        </div>
        <div class="row">
            <h2 class="titleSerView">¿Cómo es la Cirugía de la Exóstosis?  </h2>
        </div>
        <div class="row">
            <div class="col-md-12">
                <img id ="podoDepImg"src="../../static/img/cirugia/exotosis/6.png">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="textSerView">
                    Cuando la aparición de la exóstosis produce mucho dolor, limitando la vida diaria, recurrimos a la cirugía. En </b>Clínica Podológica Páez</b> realizamos procedimientos de mínima invasión con los que eliminamos la exóstosis que causa el problema, no siendo necesaria en la mayoría de los casos el uso de suturas.
                    <br><br>
                    Los procedimientos quirúrgicos se realizan con anestesia local y en régimen ambulatorio (no precisan hospitalización) por lo que el paciente se va caminando a su casa.
                    <br><br>
                    Es una cirugía indolora y que permite una <b>rápida incorporación</b> a la vida normal del paciente.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <img id ="podoDepImg"src="../../static/img/cirugia/exotosis/7.png">
            </div>
        </div>
        <div id="enlaceCorreo" class="row text-center">
            <a class="textSerView enlaceCorreoText" href="../../contactView">Solicitar mas información de este servicio</a>
        </div>
    
      
    </section>


</body>