<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Clínica Páez</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../static/css/style.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="../../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../static/js/bootstrap.min.js"></script>

    <!-- JavaScript -->
    <script src="../../static/js/principal.js"></script>

    <!-- Custom Fonts -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- twentyTwenty -->
    <link href="../../static/css/foundation.css" rel="stylesheet">
    <link href="../../static/css/twentytwenty.css" rel="stylesheet">
    <script src="../../static/js/jquery.twentytwenty.js"></script>
    <script src="../../static/js/jquery.event.move.js"></script>



</head>

<body>

    <!-- PESTAÑAS -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a id="nombre" class="navbar-brand page-scroll" href="../../">Clínica Podológica Páez</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="">Exostosis</a>
                    </li>
                    <li>
                        <a class="page-scroll" onclick="history.go(-1);">Atrás</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section id="cirugia" class="serviciosViews">
        <div class="row">
            <h2 class="titleSerView">¿Qué son los Juanetes o Hallux Valgus?</h2>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="textSerView">
                    El <b>Hallux Valgus</b> conocido popularmente como<b> Juanete</b>, es la prominencia ósea que sale en el lado medial del pie en la articulación del primer dedo, junto con la desviación y rotación del primer metatarsiano y primera falange, frecuentemente acompañada por una luxación de los sesamoideos
                    <br><br>
                </p>

                <img id ="podoDepImg"src="../../static/img/cirugia/hallux/1.png">
                <br><br><br><br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="textSerView">Podemos encontrar 3 tipos: Leve, Moderado y Grave 4 tipos de menor a mayor gravedad. Esta enfermedad se empieza a desarrollar entre los 30-40 años, aunque puede desarrollarse incluso en la adolescencia
                    <br>
                    Suele ser más frecuente en mujeres
                </p>

                <img id ="podoDepImg"src="../../static/img/cirugia/hallux/2.png">
            </div>
        </div>
        <div class="row">
            <h2 class="titleSerView">¿Por qué se produce el  Juanetes o Hallux Valgus? </h2>
            <div class="col-md-12 text-center">
                <video width="500" height="320" controls>
                    <source src="../../static/img/cirugia/hallux/video.mp4" type="video/mp4">
                Your browser does not support the video tag.
                </video>
            </div>

            <div class="col-md-12">
                <p class="textSerView">
                    <br><br>
                    Aunque puede existir una predisposición <b>genética</b>, otros factores como son <b>Alteraciones Biomecánicas</b> como pies pronados o el antepié supinado, el <b>calzado</b> estrecho, puntera triangular y tacón alto, <b>Enfermedades Reumáticas</b>
                    <br><br>
                </p>
            </div>
           

            
            
        </div>
        <div class="row">
            <h2 class="titleSerView">¿Cómo es la Cirugía de la Exóstosis? </h2>
            <br>
            <div class="col-md-12">
                <img id ="podoDepImg"src="../../static/img/cirugia/hallux/4.png">
                <p class="textSerView text-center">
                    Cuando el Hallux Valgus o Juanete, no se resuelve con el tratamiento conservador (Plantillas, Siliconas, Ejercicios), recurrimos a la cirugía. En la Clínica Podológica Páez realizamos procedimientos de precisión, con técnicas innovadoras,  para corregir tanto la exóstosis medial como las desviaciones del metatarsiano, falanges y huesos sesamoideos que causan el problema. 
                    <br><br>
                    Los procedimientos quirúrgicos se realizan con anestesia local y en régimen ambulatorio (no precisan hospitalización) por lo que el paciente se va caminando a su casa.
                    <br><br>
                    Es una cirugía indolora y que permite una <b>rápida incorporación</b> a la vida normal del paciente.
                    <br><br>
                </p>
            </div>

        </div>
        <div id="enlaceCorreo" class="row text-center">
            <a class="textSerView enlaceCorreoText" href="../../contactView">Solicitar mas información de este servicio</a>
        </div>

    </section>

</body>