<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Clínica Páez</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../static/css/style.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="../../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../static/js/bootstrap.min.js"></script>

    <!-- JavaScript -->
    <script src="../../static/js/principal.js"></script>

    <!-- Custom Fonts -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- twentyTwenty -->
    <link href="../../static/css/foundation.css" rel="stylesheet">
    <link href="../../static/css/twentytwenty.css" rel="stylesheet">
    <script src="../../static/js/jquery.twentytwenty.js"></script>
    <script src="../../static/js/jquery.event.move.js"></script>


</head>

<body>

    <!-- PESTAÑAS -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a id="nombre" class="navbar-brand page-scroll" href="../../">Clínica Podológica Páez</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="">Callos y Helomas</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="../">Atrás</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <section id="cirugiaEncarnada" class="serviciosViews">
        <div class="row">
            <h2 class="titleSerView">¿Qué son los callos y helomas? </h2>
            <br>
            <div class="col-md-6">
                <p class="textSerView">
                    <br><br>
                    Los <b>Callos y Helomas</b> son lesiones de la piel que en la que se produce un aumento del grosor de la misma, compuesto por células epiteliales muertas, su aspecto es seco y de color amarillento. 
                    <br><br>
                    En el centro puede aparecer un núcleo que se introduce hacia adentro y tiene forma cónica.
                    <br><br> 
                    
                </p>
            </div>
            <div class="col-md-6">
                    <img src="../../static/img/cirugia/callos/1.png">
            </div>
        </div>
        <div class="row">
            <h2 class="titleSerView">¿Por qué se produce los Callos y Helomas?</h2>
            <div class="col-md-6">
                <p class="textSerView">
                    <br><br><br>
                    Los Callos y Helomas se producen por la presión o fricción anormal continuada de la piel. Estas presiones son mayores si el paciente presenta deformaciones digitales, tales como los <b>Dedos en Garra, Juanetes, Pies Cavos o Pies Planos</b>. El uso de un calzado inadecuado, estrecho o fabricado con materiales demasiado rígidos, también son una causa de su aparición. 
                </p>
            </div>
            <div class="col-md-6">
                <img src="../../static/img/cirugia/callos/2.png">
            </div>
            <div class="col-md-6">
                <img src="../../static/img/cirugia/callos/3.png">
            </div>
            <div class="col-md-6">
                <p class="textSerView">
                    <br>
                    El consumo de tabaco también puede ocasionar lo que se conoce como <b>Helomas Nicotínicos</b>. Fumar provoca una peor circulación de la sangre en los pies, provocando una mayor deshidratación y sequedad en las plantas de los pies. 
                    <br><br>
                    En general suelen ser un problema leve, los callos y helomas pueden causar dolor al caminar y cojera, dependiendo de la profundidad de la lesión. Con una <b>Quiropodia</b> se suelen eliminar, pero si no se quitan los factores que lo causan al cabo del tiempo vuelve a aparecer, esto se puede conseguir con <b>Plantillas y Ortesis de Silicona</b>.
                    <br><br>
                    En <b>Pacientes Diabéticos</b> si no se tratan los helomas pueden derivar en <b>Úlceras</b> en el pie.
                </p>
            </div>
        </div>
        <div class="row">
            <h2 class="titleSerView">¿Cómo es la Cirugía de los callos y helomas?  </h2>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="textSerView">
                    <br>
                    En algunos casos estos Callos y Helomas, son de tipo <b>Neurovascular</b> y no responden bien al tratamiento conservador, por lo que es necesario realizar un procedimiento quirúrgico.
                    <br><br>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img src="../../static/img/cirugia/callos/4.png">
            </div>
            <div class="col-md-6">
                <img src="../../static/img/cirugia/callos/5.png">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="textSerView">
                    <br>
                    La Cirugía de Callos y Helomas la realizamos mediante la <b>Técnica LASER</b>, técnica de la que somos pioneros en su uso en Podología para la resolución de la Uña Encarnada. 
                    <br><br>
                </p>
            </div>
            <div class="col-md-12">
                <img src="../../static/img/cirugia/callos/6.png">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="textSerView">
                    <br>
                    La Técnica Quirúrgica consiste en la extirpación del Callo o Heloma y posterior aplicación del <b>LASER</b>. Es una técnica indolora y segura, que se realiza con anestesia local, evitando el uso de puntos de sutura lo que permite una rápida incorporación a la vida normal del paciente y con <b>excelentes resultados estéticos</b>.
                    <br><br>
                </p>
            </div>
            <div class="col-md-12">
                <img src="../../static/img/cirugia/callos/6.png">
            </div>
        </div>
        <div id="enlaceCorreo" class="row text-center">
                <a class="textSerView enlaceCorreoText" href="../../contactView">Solicitar más información de este servicio</a>
        </div>
    </section>
</body>

