<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Clínica Páez</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../static/css/style.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="../../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../static/js/bootstrap.min.js"></script>

    <!-- JavaScript -->
    <script src="../../static/js/principal.js"></script>

    <!-- Custom Fonts -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!--Swiper-->
    <link href="../../static/css/slides.css" rel="stylesheet">
    <script type="text/javascript" src="../../static/js/swiper.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/css/swiper.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/css/swiper.min.css">
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.jquery.min.js"></script>



</head>

<body>

    <!-- PESTAÑAS -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a id="nombre" class="navbar-brand page-scroll" href="../">Clínica Podológica Páez</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="">Pie Diabético</a>
                    </li>
                    <li>
                        <a class="page-scroll" onclick="history.go(-1);">Atrás</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <section id="podologiaDeportiva" class="serviciosViews">
        <div class="container">
            <div id="quiro1" class="row">
                <h1></h1>
                <h2 class="titleSerView">¿Qué es el pie diabético?</h2>
                <hr class="small">
                <div id="podoDepText" class="col-md-6">
                    <p class="textSerView">
                        La diabetes es una enfermedad crónica que afecta a una parte importante de la población en España. La diabetes se produce por la falta o ausencia de la hormona insulina en sangre, que es producida por el páncreas.
                        <br><br>
                        Una de las patologías más frecuentes en pacientes diabéticos es la afectación del pie, lo que se conoce como Pie Diabético.  
                        <br><br>
                        El pie diabético es un síndrome que puede provocar una serie de síntomas debido al aumento de glucosa en sangre, como son las alteraciones de la sensibilidad del pie, que puede ir acompañado o no de problemas vasculares por falta de riego sanguíneo.
                        <br><br>
                        En estos pacientes los procesos infecciosos se extienden más rápidamente y tarden más en curar. 
                        <br><br>
                        En Clínica Podológica Páez disponemos de un equipo altamente cualificado y de las últimas tecnologías en el tratamiento del pie diabético.
                    </p>
                </div>
                <div  class="col-md-6 text-center">
                    <img id="podoDepImg" src="../../static/img/pieDiabetico/1.png">
                </div>
            </div>
            <div id="quiro1" class="row">
                <h1></h1>
                <h2 class="titleSerView">¿Cuáles son las complicaciones del pie diabético? </h2>
                <hr class="small">
                <div class="col-md-6">
                    <p id="podoDepText2" class="textSerView">
                        El principal problema del pie diabético es la facilidad con la que se producen heridas,  debido a la falta de sensibilidad, provoca que el paciente no perciba la presión excesiva ni el roce ni el dolor en los pies lo que puede causar que se produzcan lesiones y heridas en la piel que pueden derivar en Úlceras, que suelen ser un problema grave para los pacientes diabéticos, infectándose fácilmente, llegando en algunos casos a la amputación, alrededor del 75% de las amputaciones comienzan con una úlcera.
                        <br><br>
                    </p>
                </div>
                <div  class="col-md-6 text-center">
                    <img id="podoDepImg2" src="../../static/img/pieDiabetico/2.png">
                </div>
            </div>
            <div id="quiro1" class="row">
                <div  class="col-md-6 text-center">
                    <img id="podoDepImg3" src="../../static/img/pieDiabetico/3.png">
                </div>
                <div class="col-md-6">
                    <p id="podoDepText3" class="textSerView">
                        Otra complicación grave es la presencia de un Pie de Charcot. El pie de Charcot es una compleja deformidad del pie, considerada como una complicación progresiva, lenta, indolora y crónica que ocurre en una o en varias articulaciones debido a la neuropatía diabética. Se desarrolla como resultado de la pérdida de sensibilidad en los pies debido a que los nervios se ven afectados y a causa de un hueso roto que no es detectado por falta de sensaciones. Este mal avanza y hay destrucción de los tejidos blandos del pie. Suele aparecer en pacientes diabéticos de larga evolución y que no han estado bien controlados 
                        <br><br>
                    </p>
                </div>
                <div id="" class="col-md-12">
                    <p class="textSerView">
                        La presencia de callos, durezas, uñas incarnadas en pacientes diabéticos debe ser un signo de alerta para los pacientes diabéticos y deben acudir con urgencia a la consulta podológica.
                        <br><br>
                        La ausencia de sensibilidad en las plantas de los pies en estos pacientes produce una falta de propiocepción lo que ocasiona que estos pacientes tengan peor equilibrio, peor apoyo plantar con zonas de sobrecarga y tengan mayores riesgos de caídas.
                    </p>
                </div>
            </div>

            <div id="quiro1" class="row">
                <h1></h1>
                <h2 class="titleSerView">¿Cómo podemos tratar estos problemas?</h2>
                <hr class="small">
                <div id="" class="col-md-12">
                    <p class="textSerView">
                        Para el tratamiento y la prevención de estos problemas, en Clínica Podológica Páez realizamos un estudio completo del pie mediante una exploración neurológica mediante el Monofilamento para analizar la sensibilidad a la presión, la sensibilidad termica y la sensibilidad vibratoria mediante el Diapasón y los reflejos. La exploración vascular la realizamos mediante Doppler y el Índice Tobillo Brazo. Además, efectuamos un Estudio Biomecánico en estática y dinámico.
                        <br><br>
                    </p>
                </div>
                </div>
                <div id="swiperDepoCont" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div id="swiperDepo" class="swiper-container swiper-containerPodoDep">
                        <div class="swiper-wrapper">
                            <div id="swiper-slideDiabet6" class="swiper-slide servSlides"></div>
                            <div id="swiper-slideDiabet9" class="swiper-slide servSlides"></div>
                            <div id="swiper-slideDiabet7" class="swiper-slide servSlides"></div>
                            <div id="swiper-slideDiabet8" class="swiper-slide servSlides"></div>
                        </div>
                        <br><br>
                        <!-- Add Pagination -->
                        <div class="swiper-pagination swiperPaginationQuiro"></div>
                    </div>
                    <br>
                </div>
            </div>

            <div id="quiro1" class="row">
                <h1></h1>
                <h2 class="titleSerView">¿Cómo podemos tratar estos problemas?</h2>
                <hr class="small">
                <div id="" class="col-md-12">
                    <p class="textSerView">
                        También disponemos de un amplio abanico de posibilidades para el tratamiento del pie diabético y de sus complicaciones frecuentes, mediante:
                        <br><br>
                    </p>
                </div>
                <div id="swiperDepoCont" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div id="swiperDepo" class="swiper-container swiper-containerPodoDep">
                        <div class="swiper-wrapper">
                            <div id="swiper-slideDiabet1" class="swiper-slide servSlides"><h3 class="podoDepSlideText">Desbridado</h3></div>
                            <div id="swiper-slideDiabet2" class="swiper-slide servSlides"><h3 class="podoDepSlideText">Descargas</h3></div>
                            <div id="swiper-slideDiabet3" class="swiper-slide servSlides"><h3 class="podoDepSlideText">Plantillas</h3></div>
                            <div id="swiper-slideDiabet4" class="swiper-slide servSlides"><h3 class="podoDepSlideText">Prótesis</h3></div>
                            <div id="swiper-slideDiabet5" class="swiper-slide servSlides"><h3 class="podoDepSlideText">Plasma</h3></div>
                        </div>
                        <br><br>
                        <!-- Add Pagination -->
                        <div class="swiper-pagination swiperPaginationQuiro"></div>
                    </div>
                    <br>
                </div>
            </div>
            
        </div>
    </section>


</body>