<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Clínica Páez</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../static/css/style.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="../../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../static/js/bootstrap.min.js"></script>

    <!-- JavaScript -->
    <script src="../../static/js/principal.js"></script>

    <!-- Custom Fonts -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!--Swiper-->
    <link href="../../static/css/slides.css" rel="stylesheet">
    <script type="text/javascript" src="../../static/js/swiper.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/css/swiper.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/css/swiper.min.css">
     
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.jquery.min.js"></script>

    <!-- twentyTwenty -->

    <link href="../../static/css/twentytwenty.css" rel="stylesheet">
    <script src="../../static/js/jquery.twentytwenty.js"></script>
    <script src="../../static/js/jquery.event.move.js"></script>


</head>

<body>

    <!-- PESTAÑAS -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a id="nombre" class="navbar-brand page-scroll" href="../">Clínica Podológica Páez</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="">Plantillas Personalizadas</a>
                    </li>
                    <li>
                        <a class="page-scroll" onclick="history.go(-1);">Atrás</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <section id="podologiaDeportiva" class="serviciosViews">
        <div class="container">
            <div id="quiro1" class="row">
                <h1></h1>
                <h2 class="titleSerView">¿Cómo puedo saber si necesito plantillas?</h2>
                <hr class="small">
                <div id="podoDepText" class="col-md-6">
                    <p class="textSerView">
                        Con frecuencia sufrimos de dolores de pies, rodillas, caderas, espalda, que pueden deberse a alteraciones en la estructura, posición y función de los pies,como ocurre con los <b> Pies Planos, Pies Cavos, Pies Valgos / Pronados, Pies Varos/ Supinados…</b>
                        <br><br>
                        Estos tipos de pies producen un aumento de la Presión Plantar, y Sobrecarga en músculos y articulaciones. 
                        <br><br>
                        Con un correcto examen biomecánico tanto en estática como en dinámica y con la ayuda de la última tecnología para el análisis, diagnóstico y mejora de la función del pie podemos determinar si usted necesita utilizar soportes plantares.
                        <br><br>
                        En Clínica Podológica Páez disponemos del sistema informatizado de análisis de la pisada <b>Podobit Pro®</b>, somos una de las clínicas pioneras en España en la utilización del <b>Sistema Optogait®</b> y el <b>Sistema Gyko®</b>, y de diagnóstico mediante <b>Ecografía</b>
                        <br><br>
                    </p>
                </div>
                <div  class="col-md-6 text-center">
                    <img id="podoDepImg" src="../../static/img/plantillas/1.png">
                </div>
                <p class="textSerView">Si lleva tiempo padeciendo dolores, articulares y musculares es posible que necesite Plantillas Personalizadas para solucionar estos problemas. 
                <br><br>
                <div  class="col-md-6 text-center">
                    <img id="podoDepImg" style="width:75%" src="../../static/img/plantillas/A.png">
                </div>
                <div  class="col-md-6 text-center">
                    <img id="podoDepImg" style="width:75%" src="../../static/img/plantillas/B.png">
                    <br>
                </div>
                </p>
            </div>
            <div id="quiro1" class="row">
                <h2 class="titleSerView">¿En qué consisten las Plantillas Personalizadas?</h2>
                <hr class="small">
                <div id="podoDepText" class="col-md-6">
                    <p class="textSerView">
                        El método de tratamiento para los problemas que tienen como origen alteraciones biomecánicas de los pies son los Soportes Plantares.
                        <br><br>
                        Cada uno de nosotros tiene una morfología propia del pie y además nuestros dos pies nos son iguales, por lo que los soportes plantares deben ser realizados exclusivamente a la medida de cada paciente y de cada pie, para que tengan una perfecta adaptación Pie-Plantilla, causando una correcta distribución de las Presiones Plantares, con lo que se evitan zonas de sobrecarga, ayudando a disminuir los dolores, previniendo futuras lesiones y mejorando la marcha y la práctica de deportes.
                        <br><br>
                        Con un correcto examen biomecánico tanto en estática como en dinámica y con la ayuda de la última tecnología para el análisis, diagnóstico y mejora de la función del pie podemos determinar si usted necesita utilizar soportes plantares.
                        <br><br>
                    </p>
                </div>
                <div  class="col-md-6 text-center">
                    <img id="podoDepImg" style="width:75%" src="../../static/img/plantillas/2.png">
                </div>
                <div  class="col-md-12">
                    <p class="textSerView">
                        Para la confección de nuestros soportes plantares utilizamos los últimos avances en materiales ortopodológicos, como Resinas, Fibra de Carbono y Keblar, (Foto 3) que nos permiten realizar Plantillas Personalizadas finas y ligeras que se adaptan a todo tipo de los calzados, incluso a botas de fútbol.
                        <br>
                    </p>
                </div>
                <div  class="col-md-12 text-center">
                    <img id="podoDepImg" style="width:60%" src="../../static/img/plantillas/3.png">
                </div>
            </div>
            <div id="quiro1" class="row">
                <h2 class="titleSerView">¿Cúales son las principales Lesiones que se tratan con Plantillas Personalizadas?</h2>
                <hr class="small">
                
                <div id="swiperDepoCont" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div id="swiperDepo" class="swiper-container swiper-containerPodoDep">
                        <div class="swiper-wrapper">
                            <div id="swiper-slidePlant1" class="swiper-slide servSlides"><h3 class="podoDepSlideText">Pies Planos</h3></div>
                            <div id="swiper-slidePlant2" class="swiper-slide servSlides"><h3 class="podoDepSlideText">Pies Cavos</h3></div>
                            <div id="swiper-slidePlant3" class="swiper-slide servSlides"><h3 class="podoDepSlideText">Pies Pronados</h3></div>
                            <div id="swiper-slidePlant4" class="swiper-slide servSlides"><h3 class="podoDepSlideText">Pies Supinados</h3></div>
                            <div id="swiper-slidePlant5" class="swiper-slide servSlides"><h3 class="podoDepSlideText">Fascitis Plantar</h3></div>
                            <div id="swiper-slidePlant6" class="swiper-slide servSlides"><h3 class="podoDepSlideText">Metatarsalgias</h3></div>
                            <div id="swiper-slidePlant7" class="swiper-slide servSlides"><h3 class="podoDepSlideText">Marcha en Rotación Interna</h3></div>
                            <div id="swiper-slidePlant8" class="swiper-slide servSlides"><h3 class="podoDepSlideText">Marcha en Puntillas</h3></div>
                            <div id="swiper-slidePlant9" class="swiper-slide servSlides"><h3 class="podoDepSlideText">Dolor en Rodillas</h3></div>
                            <div id="swiper-slidePlant10" class="swiper-slide servSlides"><h3 class="podoDepSlideText">Cintilla Iliotibial</h3></div>
                            <div id="swiper-slidePlant11" class="swiper-slide servSlides"><h3 class="podoDepSlideText">Tendinosis Aquiles</h3></div>
                            <div id="swiper-slidePlant12" class="swiper-slide servSlides"><h3 class="podoDepSlideText">Periostitis Tibial</h3></div>
                        </div>
                        <br><br>
                        <!-- Add Pagination -->
                        <div class="swiper-pagination swiperPaginationQuiro"></div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </section>
    <div class="col-sm-6 col-sm-offset-3 text-center">           
        <button onclick="history.go(-1);" id="botonVolver" class="btn btn-primary">Volver</button>
    </div>

</body>