<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Clínica Páez</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../static/css/style.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="../../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../static/js/bootstrap.min.js"></script>

    <!-- JavaScript -->
    <script src="../../static/js/principal.js"></script>

    <!-- Custom Fonts -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!--Swiper-->
    <link href="../../static/css/slides.css" rel="stylesheet">
    <script type="text/javascript" src="../../static/js/swiper.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/css/swiper.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/css/swiper.min.css">
     
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.jquery.min.js"></script>


</head>

<body>

    <!-- PESTAÑAS -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a id="nombre" class="navbar-brand page-scroll" href="../">Clínica Podológica Páez</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="">Podología Deportiva</a>
                    </li>
                    <li>
                        <a class="page-scroll" onclick="history.go(-1);">Atrás</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <section id="podologiaDeportiva" class="serviciosViews">
        <div class="container">
            <div id="quiro1" class="row">
                <div class="col-md-12">
                    <h1></h1>
                    <h2 class="titleSerView">¿Practicas algún deporte?</h2>
                    <hr class="small">
                    <p class="textSerView">Realizar deporte implica grandes beneficios para la salud, pero si este no se realiza adecuadamente o tenemos algún problema en nuestros pies, podemos tener lesiones musculares y lesiones articulares.
                    <br><br>
                    El pie participa en la mayor parte de los gestos deportivos, como son correr, saltar, jugar al futbol, baloncesto, ciclismo, tenis… Para la prevención de posibles daños o si ya sufres una lesión, en <b>Clínica Podológica Páez</b>, tenemos un equipo altamente cualificado, especialistas en <b>Podología Deportiva</b> dónde podemos ayudarle mediante un estudio biomecánico, a la mejora del rendimiento deportivo, al tratamiento y prevención de las <b>Lesiones Deportivas</b>. 
                    </p>
                    <h2 class="titleSerView">¿Cúales son las principales Lesiones Deportivas?</h2>
                    <hr class="small">
                    <div id="swiperDepoCont" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div id="swiperDepo" class="swiper-container swiper-containerPodoDep">
                            <div class="swiper-wrapper">
                                <div id="swiper-slideDepo1" class="swiper-slide servSlides"><h3 class="podoDepSlideText">Fascitis Plantar</h3></div>
                                <div id="swiper-slideDepo2" class="swiper-slide servSlides"><h3 class="podoDepSlideText">Tendinitis Aquiles</h3></div>
                                <div id="swiper-slideDepo3" class="swiper-slide servSlides"><h3 class="podoDepSlideText">Periostitis Tibial</h3></div>
                                <div id="swiper-slideDepo4" class="swiper-slide servSlides"><h3 class="podoDepSlideText">Dolor en Rodillas</h3></div>
                                <div id="swiper-slideDepo5" class="swiper-slide servSlides"><h3 class="podoDepSlideText">Cintilla Iliotibial</h3></div>
                                <div id="swiper-slideDepo6" class="swiper-slide servSlides"><h3 class="podoDepSlideText">Metatarsalgias</h3></div>
                            </div>
                            <br><br>
                            <!-- Add Pagination -->
                            <div class="swiper-pagination swiperPaginationQuiro"></div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2 class="titleSerView">¿Cómo podemos prevenir y curar lesiones deportivas?</h2>
                    <hr class="small">
                    <p class="textSerView">Con ayuda de la última tecnología en Podología Deportiva para el análisis, diagnóstico y mejora del rendimiento, en <b>Clínica Podológica Páez</b>, disponemos del sistema informatizado de análisis de la pisada <b>Podobit Pro®</b> y somos una de las clínicas pioneras en España en la utilización del <b>Sistema Optogait®</b> y el <b>Sistema Gyko®</b>, y de diagnóstico mediante <b>Ecografía</b>
                    <br><br>
                    Con la <b>Biomecánica Deportiva</b> analizamos la <b>Marcha y Carrera</b>, así como el comportamiento mecánico del gesto deportivo para conseguir mejorar los aspectos técnicos y aplicar, en caso necesario, el tratamiento más idóneo para que el paciente pueda realizar de una forma óptima el deporte, evitando lesiones musculares y articulares. 
                    <br><br>
                    Para el <b>Tratamiento</b> estas lesiones en <b>Clínica Podológica Páez</b>, disponemos un amplio abanico de posibilidades que van desde:
                    </p>
                    <div id="swiperDepoCont" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div id="swiperDepo2" class="swiper-container swiper-containerServ">
                            <div class="swiper-wrapper">
                                <div id="swiper-slideDepo7" class="swiper-slide servSlides"><h3 class="servSlideText">PodoBit Pro</h3></div>
                                <div id="swiper-slideDepo8" class="swiper-slide servSlides"><h3 class="servSlideText">Análisis Podobit</h3></div>
                                <div id="swiper-slideDepo9" class="swiper-slide servSlides"><h3 class="servSlideText">OptoGait</h3></div>
                                <div id="swiper-slideDepo10" class="swiper-slide servSlides"><h3 class="servSlideText">Analisis OptoGait</h3></div>
                                <div id="swiper-slideDepo11" class="swiper-slide servSlides"><h3 class="servSlideText">Gyko</h3></div>
                                <div id="swiper-slideDepo12" class="swiper-slide servSlides"><h3 class="servSlideText">Análisis Gyko</h3></div>
                                <div id="swiper-slideDepo13" class="swiper-slide servSlides"><h3 class="servSlideText">Ecógrafo</h3></div>
                            </div>
                            <br><br>
                            <!-- Add Pagination -->
                            <div class="swiper-pagination swiperPaginationQuiro"></div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
            <div class="row">
                <p class="textSerView">
                    Para el Tratamiento estas lesiones en Clínica Podológica Páez, disponemos un amplio abanico de posibilidades:
                </p>
                <div id="swiperDepoCont" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div id="swiperDepo" class="swiper-container swiper-containerPodoDep">
                        <div class="swiper-wrapper">
                            <div id="swiper-slideDepo14" class="swiper-slide servSlides"><h3 class="podoDepSlideText2">Plantillas Deportivas</h3></div>
                            <div id="swiper-slideDepo15" class="swiper-slide servSlides"><h3 class="podoDepSlideText2">Análisis de carrera</h3></div>
                            <div id="swiper-slideDepo16" class="swiper-slide servSlides"><h3 class="podoDepSlideText2">Calzado Deportivo</h3></div>
                            <div id="swiper-slideDepo17" class="swiper-slide servSlides"><h3 class="podoDepSlideText2">Calzado Deportivo</h3></div>
                            <div id="swiper-slideDepo18" class="swiper-slide servSlides"><h3 class="podoDepSlideText2">Posturología</h3></div>
                            <div id="swiper-slideDepo19" class="swiper-slide servSlides"><h3 class="podoDepSlideText2">Vendajes</h3></div>
                            <div id="swiper-slideDepo20" class="swiper-slide servSlides"><h3 class="podoDepSlideText2">Terapia Laser</h3></div>
                            <div id="swiper-slideDepo21" class="swiper-slide servSlides"><h3 class="podoDepSlideText2">Infiltraciones</h3></div>
                        </div>
                        <br><br>
                        <!-- Add Pagination -->
                        <div class="swiper-pagination swiperPaginationQuiro"></div>
                    </div>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h2 class="titleSerView">Running</h2>
                    <p class="textSerView">Salir a correr o practicar running se han convertido en el deporte más practicado actualmente, pero es necesario realizarlo adecuadamente para evitar lesiones y mejorar tu rendimiento. ¡Conoce cómo corres con el <b>Sistema Optogait®</b>!
                    <br><br>
                    Realizamos un <b>Análisis de la Técnica de Carrera</b>, corrigiendo aquellos errores biomecánicos que influyen a la hora de padecer <b>lesiones deportivas</b>. Tanto como si estas empezando a practicar Running o si llevas mucho tiempo practicándolo, es importante que realices un examen completo de la técnica de problema, con esto evitarás sufrir <b>lesiones deportivas</b>.
                    <br><br>
                    En el caso de no existir lesiones, en <b>Clínica Podológica Páez</b>, podemos ayudar al deportista con un plan de mejora de la <b>Técnica de Carrera</b>, para al deportista a una forma de correr óptima, con consejos sobre la postura, la elección de la zapatilla, etc.
                    </p>
                </div>
                <div class="col-md-6">
                    <img class="imgResponsive" src="../../static/img/podologiaDeportiva/podoDepo22.png">
                </div>
                <div class="col-md-6 col-md-offset-3 text-center">
                    <h3>Video sobre Técnida de Carrera</h3>
                    <hr class="small">
                    <br>
                    <iframe class="imgResponsive" src="https://www.youtube.com/embed/VkRz58K5lMo" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>

            
            

        </div>
    </section>
    <div class="col-sm-6 col-sm-offset-3 text-center">           
        <button onclick="history.go(-1);" id="botonVolver" class="btn btn-primary">Volver</button>
    </div>

</body>