<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Clínica Páez</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../static/css/style.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="../../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../static/js/bootstrap.min.js"></script>

    <!-- JavaScript -->
    <script src="../../static/js/principal.js"></script>

    <!-- Custom Fonts -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">



</head>


<body>
	<div class="container">
		<div id="textCookies" class="col-sd-12">
			<h1 class="text-center">AVISO LEGAL</h1>

			<h2 >1. Recogida, tratamiento y uso de los datos personales en la web</h2>

			<p>En base a lo dispuesto en el Reglamento General de Protección de Datos 2016/679 (RGPD) y en la Ley
				Orgánica 3/2018, de Protección de Datos Personales y garantía de derechos digitales (LOPDGDD), le
				informamos que para hacer uso algunos de los servicios que les ofrece nuestra web, puede ser
				necesario que nos suministre determinados datos de carácter personal que serán incorporados a
				ficheros automatizados.</p>

			<p>Cumpliendo con las nuevas disposiciones del Reglamento (UE) 2016/679 del PE y del Consejo de 27 de
				Abril de 2016 y de la Ley Orgánica 3/2018, de 5 de diciembre, de Protección de Datos Personales y
				garantía de derechos digitales, relativas a la protección de las personas físicas en lo que respecta al
				tratamiento de datos personales y a la libre circulación de estos datos y por el que se deroga la Directiva
				95/46/CE, le informamos que el responsable del tratamiento de los datos es:</p>

			<pre> 
				- Denominación social: CLINICA PODOLÓGICA PAEZ S.L. (en adelante CLÍNICA DR. PÁEZ)
				- CIF: B18986679
				- Domicilio principal: AVDA. MOLIERE, 18, BAJO 2, 29004 DE MÁLAGA
				- Correo electrónico: clinicapodologicapaez@gmail.com
				- Teléfono de contacto: 637 90 30 10
				- Página web: WWW.CLINICAPODOLOGICAPAEZ.COM
			</pre>

			<h2 >2. Derechos de propiedad intelectual e industrial</h2>

			<p>El sitio web, incluyendo a título enunciativo pero no limitativo su programación, edición, compilación y
				demás elementos necesarios para su funcionamiento, los diseños, logotipos, texto y/o gráficos, son
				propiedad del responsable o, si es el caso, dispone de licencia o autorización expresa por parte de los
				autores.</p>

			<p>Todos los contenidos del sitio web se encuentran debidamente protegidos por la normativa de
				propiedad intelectual e industrial, así como inscritos en los registros públicos correspondientes.
				Independientemente de la finalidad para la que fueran destinados, la reproducción total o parcial, uso,
				explotación, distribución y comercialización, requiere en todo caso de la autorización escrita previa por
				parte del responsable. Cualquier uso no autorizado previamente se considera un incumplimiento grave
				de los derechos de propiedad intelectual o industrial del autor. Los diseños, logotipos, texto y/o gráficos
				ajenos al responsable y que pudieran aparecer en el sitio web, pertenecen a sus respectivos
				propietarios, siendo ellos mismos responsables de cualquier posible controversia que pudiera suscitarse
				respecto a los mismos. El responsable autoriza expresamente a que terceros puedan redirigir
				directamente a los contenidos concretos del sitio web, y en todo caso redirigir al sitio web principal de
				WWW.CLINICAPODOLOGICAPAEZ.COM</p>

			<p>El responsable reconoce a favor de sus titulares los correspondientes derechos de propiedad intelectual
				e industrial, no implicando su sola mención o aparición en el sitio web la existencia de derechos o
				responsabilidad alguna sobre los mismos, como tampoco respaldo, patrocinio o recomendación por
				parte del mismo.</p>

			<p>Para realizar cualquier tipo de observación respecto a posibles incumplimientos de los derechos de
				propiedad intelectual o industrial, así como sobre cualquiera de los contenidos del sitio web, puede
				hacerlo a través del correo electrónico clinicapodologicapaez@gmail.com o a la siguiente dirección postal: AVDA.
				MOLIERE, 18, BAJO 2, 29004 DE MÁLAGA.</p>

			<h2 >3. Navegación, acceso y seguridad</h2>

			<p>El acceso, navegación y utilización de esta página web implica por tu parte la aceptación expresa y sin
				reservas de todos los términos de la presente Política de Privacidad y Protección de datos, teniendo la
				misma validez y eficacia que cualquier contrato celebrado por escrito y firmado. En este sentido, se
				entenderá por Usuario a la persona que acceda, navegue, utilice o participe en los servicios y
				actividades, gratuitas u onerosas, desarrolladas en el Sitio Web.</p>
			<p>El acceso, navegación y utilización de este Sitio web supone la aceptación expresa y sin reservas de
				todas las advertencias legales, condiciones y términos de uso contenidas en el presente Política de
				Privacidad y Protección de datos. CLINICA PODOLÓGICA PAEZ realiza los máximos esfuerzos para que la
				navegación se realice en las mejores condiciones y evitar los perjuicios de cualquier tipo que pudiesen
				ocasionarse durante la misma. CLINICA PODOLÓGICA PAEZ no se responsabiliza ni garantiza que el
				acceso a este Sitio web sea ininterrumpido o que esté libre de error. Tampoco se responsabiliza o
				garantiza que el contenido o software al que pueda accederse a través de este Sitio web, esté libre de
				error o cause un daño. En ningún caso CLINICA PODOLÓGICA PAEZ será responsable por las pérdidas,
				daños o perjuicios de cualquier tipo que surjan por el acceso y el uso de la página Web, incluyéndose,
				pero no limitándose, a los ocasionados a los sistemas informáticos o los provocados por la introducción
				de virus, ni se hace responsable de los daños que pudiesen ocasionarse a los usuarios por un uso
				inadecuado de este Sitio web. Los servicios ofertados en este Sitio web sólo pueden ser utilizados
				correctamente si se cumplen las especificaciones técnicas para las que ha sido diseñado.</p>
			<p>Queda prohibido el acceso a este Sitio Web por parte de menores de 14 años, salvo que cuenten con la
				autorización previa y expresa de sus padres, tutores o representantes legales, los cuales serán
				considerados como responsables de los actos que lleven a cabo los menores a su cargo, conforme a la
				normativa vigente. En todo caso, se presumirá que el acceso realizado por un menor al Sitio Web se ha
				realizado con autorización previa y expresa de sus padres, tutores o representantes legales.</p>

			<h2 >4. Exención de responsabilidades el responsable</h2>
			
			<p>Se exime de cualquier tipo de responsabilidad derivada de la información publicada en su sitio web
				siempre que esta información haya sido manipulada o introducida por un tercero ajeno al mismo.
				Política de enlaces desde el sitio web, es posible que se redirija a contenidos de terceros sitios web.
				Dado que el responsable no puede controlar siempre los contenidos introducidos por los terceros en sus
				respectivos sitios web, no asume ningún tipo de responsabilidad respecto a dichos contenidos. En todo
				caso, procederá a la retirada inmediata de cualquier contenido que pudiera contravenir la legislación
				nacional o internacional, la moral o el orden público, procediendo a la retirada inmediata de la
				redirección a dicho sitio web, poniendo en conocimiento de las autoridades competentes el contenido
				en cuestión. El responsable no se hace responsable de la información y contenidos almacenados, a título
				enunciativo, pero no limitativo, en foros, chats, generadores de blogs, comentarios, redes sociales o
				cualquier otro medio que permita a terceros publicar contenidos de forma independiente en la página
				web del responsable. Sin embargo, y en cumplimiento de lo dispuesto en los artículos 11 y 16 de la
				LSSICE, se pone a disposición de todos los usuarios, autoridades y fuerzas de seguridad, colaborando de
				forma activa en la retirada o, en su caso, bloqueo de todos aquellos contenidos que puedan afectar o
				contravenir la legislación nacional o internacional, los derechos de terceros o la moral y el orden
				público. En caso de que el usuario considere que existe en el sitio web algún contenido que pudiera ser
				susceptible de esta clasificación, se ruega lo notifique de forma inmediata al administrador del sitio web.
				Este sitio web ha sido revisado y probado para que funcione correctamente. En principio, puede
				garantizarse el correcto funcionamiento los 365 días del año, 24 horas al día. Sin embargo, el
				responsable no descarta la posibilidad de que existan ciertos errores de programación, o que
				acontezcan causas de fuerza mayor, catástrofes naturales, huelgas o circunstancias semejantes que
				hagan imposible el acceso a la página web.</p>

			<h2 >5. Condiciones adicionales</h2>
			<p>El usuario que introduce los datos, es el responsable único y final de la veracidad de la información
				suministrada en el servicio y en las modificaciones de los mismos que pueda realizar hasta la finalización
				del mismo.</p>

			<h2 >6. Actualización y modificación de la información</h2>
			<p>La información que aparece en este sitio web es la vigente en la fecha de su última actualización.
				CLINICA PODOLÓGICA PAEZ se reserva el derecho a actualizar, modificar o eliminar la información de
				este sitio web, pudiendo limitar o no permitir el acceso al mismo. No se podrá alterar, cambiar,
				modificar, o adaptar este sitio web. Sin embargo, CLINICA PODOLÓGICA PAEZ se reserva la facultad de
				efectuar, en cualquier momento, cuantos cambios y modificaciones estime convenientes, pudiendo
				hacer uso de tal facultad en cualquier momento y sin previo aviso.</p>

			<h2 >7. Ley aplicable y jurisdicción</h2>
			<p>Las presentes Condiciones se regirán e interpretarán de acuerdo con la legislación común española. Para
				cuantas cuestiones pudieran surgir sobre la interpretación, cumplimiento, rescisión o resolución de las
				Condiciones Generales, las Partes se someten a la jurisdicción y competencia de los Juzgados y
				Tribunales de la ciudad de MÁLAGA. No obstante, lo anterior, de conformidad con la legislación
				española, para cuantas cuestiones pudieran surgir en relación con estas Condiciones Generales serán
				competentes los juzgados y tribunales del domicilio que resulte de aplicación, de conformidad con el
				artículo 52 de la Ley de Enjuiciamiento Civil o norma sustitutiva aplicable en cada momento.</p>

			<h1 class="text-center">Politica de privacidad</h1>

			<h2>1. Recogida, tratamiento y uso de los datos personales en la web</h2>
			<p>En base a lo dispuesto en el Reglamento General de Protección de Datos 2016/679 (RGPD) y en la Ley
				Orgánica 3/2018, de Protección de Datos Personales y garantía de derechos digitales (LOPDGDD), le
				informamos que para hacer uso algunos de los servicios que les ofrece nuestra web, puede ser
				necesario que nos suministre determinados datos de carácter personal que serán incorporados a
				ficheros automatizados.</p>

			<p>Cumpliendo con las nuevas disposiciones del Reglamento (UE) 2016/679 del PE y del Consejo de 27 de
				Abril de 2016 y de la Ley Orgánica 3/2018, de 5 de diciembre, de Protección de Datos Personales y
				garantía de derechos digitales, relativas a la protección de las personas físicas en lo que respecta al
				tratamiento de datos personales y a la libre circulación de estos datos y por el que se deroga la Directiva
				95/46/CE, le informamos que el responsable del tratamiento de los datos es:</p>

			<pre> 
				- Denominación social: CLINICA PODOLÓGICA PAEZ S.L. (en adelante CLÍNICA DR. PÁEZ)
				- CIF: B18986679
				- Domicilio principal: AVDA. MOLIERE, 18, BAJO 2, 29004 DE MÁLAGA
				- Correo electrónico: clinicapodologicapaez@gmail.com
				- Teléfono de contacto: 637 90 30 10
				- Página web: WWW.CLINICAPODOLOGICAPAEZ.COM
			</pre>

			<p>Para realizar cualquier tipo de observación respecto a posibles incumplimientos de los derechos de
				propiedad intelectual o industrial, así como sobre cualquiera de los contenidos del sitio web, puede
				hacerlo poniéndose en contacto con la empresa a través de cualquiera de los medios indicados
				anteriormente.</p>
			<p>Los contenidos del Sitio Web tienen como finalidad informar a los usuarios, de los servicios ofrecidos por
				la empresa como consecuencia de las solicitudes, gestiones o trámites que el Usuario realice mediante
				la web. Los datos objeto de tratamiento serán aquellos que nos facilite a través de los formularios que
				en cada momento contenga la página o a través de los correos electrónicos que el Usuario dirija a las
				direcciones de correo electrónico identificadas en la misma, así como aquellos otros que se generen
				durante el mantenimiento de la relación correspondiente.</p>
			<p>Todos los campos que aparecen señalados como obligatorios en cualquiera de los formularios deberán
				ser cumplimentados necesariamente, de tal modo que la omisión de alguno de ellos podrá comportar la
				imposibilidad de que podamos atender su solicitud o prestarle los servicios correspondientes.</p>
			<p>Adicionalmente, durante dicha recogida de datos, es posible que se solicite su consentimiento para otra
				serie de finalidades que no guardan una relación directa con el servicio o la relación correspondiente. En
				el caso de que no esté de acuerdo con dichos tratamientos adicionales, marque la casilla destinada al
				efecto según corresponda.</p>
			<p>Solicitantes de información: Los datos personales utilizados en estos casos proceden del propio
				interesado, el cual los proporciona a CLÍNICA DR. PÁEZ al completar el formulario de contacto contenido
				en el Sitio Web, al efectuar una llamada telefónica, o al enviar un correo.</p>
			<p>Estos datos se utilizan con la finalidad de resolver las consultas y proporcionar información a aquellos
				que lo demanden o lo autoricen expresamente, principalmente por medio del correo electrónico.</p>
			<p>La persona que acceda a este Sitio Web (en adelante, el Usuario), asegura que tiene la edad mínima
				legal establecida por el Reglamento General de Protección de Datos 679/2016 (14 años) o por la
				normativa nacional que le sea de aplicación para otorgar el consentimiento en relación con los Servicios
				de la Sociedad de la Información.</p>
			<p>Mediante el acceso a este Sitio Web, el Usuario acepta expresamente todas las cláusulas de su
				información legal, de esta política de privacidad, y de su política de cookies, así como de todas aquellas
				condiciones particulares recogidas para la utilización de determinados servicios. En caso de no aceptar
				alguna de las citadas cláusulas, el Usuario deberá abstenerse de acceder a este Sitio Web.</p>
			<p>Al acceder el Usuario a las cuentas de CLÍNICA DR. PÁEZ en las redes sociales acepta el tratamiento de
				sus datos personales por parte de las mismas según sus políticas de privacidad.</p>


			<h2>2. Finalidad del tratamiento de los datos personales</h2>
			<h3>2.1. ¿Con qué finalidad trataremos tus datos personales?</h3>
			<p>En CLÍNICA DR. PÁEZ trataremos tus datos personales, recabados a través del Sitio Web con las
				siguientes finalidades:
			</p>
			<p>– Envío de información solicitada a través de los formularios de contacto dispuestos en el Sitio Web en
				respuesta a cualquier tipo de consulta relacionada con los productos o servicios que presta la empresa.</p>
			<p>– Analizar el perfil del usuario con el motivo de optimizar, medir y personalizar el uso del Sitio Web.</p>
			<p>– Recogida de datos y currículos vitae de personas interesadas en participar en los procesos de selección
				de personal para la contratación de empleados en la empresa.</p>
			<p>– Remitir boletines -newsletters- , así como comunicaciones comerciales de promociones y/o publicidad
				del Sitio Web, contando con su autorización expresa. De conformidad con la LSSSI podrá darse de baja
				de cualquiera de los servicios de subscripción así como manifestar su oposición a recibir informaciones
				publicitarias, enviando un email desde la cuenta a dar de baja con la palabra "BAJA" en el asunto, a la
				siguiente dirección: clinicapodologicapaez@gmail.com.</p>
			<p>Los campos de dichos registros son de cumplimentación obligatoria, siendo imposible realizar las
				finalidades expresadas si no se aportan esos datos.</p>
			<h3>2.2. ¿Por cuánto tiempo se conservan los datos personales recabados?</h3>
			<p>Los datos personales proporcionados se conservarán mientras se gestiona su comunicación y/o no
				solicites su supresión y durante el tiempo mínimo necesario para cumplir con las obligaciones legales o
				pudieran derivarse responsabilidades legales por los servicios prestados.</p>
			<h2>3. Legitimación</h2>
			<p>El tratamiento de tus datos se realiza con las siguientes bases jurídicas que legitiman el mismo:</p>
			<p>– El consentimiento libre, específico, informado e inequívoco, en tanto que te informamos poniendo a
				tu disposición la presente política de privacidad, que tras la lectura de la misma, en caso de estar
				conforme, puedes aceptar mediante una declaración o una clara acción afirmativa, como el marcado de
				una casilla dispuesta al efecto.</p>
			<p>En caso de que no nos facilites tus datos o los hagas de forma errónea o incompleta, no podremos atender tu solicitud, resultando del todo imposible proporcionarte la información solicitada o llevar a cabo la contratación de los servicios.</p>
			<h3>Consentimiento:</h3>
			<p>Se informa que, cuando el usuario no mantenga relaciones comerciales con CLÍNICA DR. PÁEZ, y realice el envío de un correo electrónico o una comunicación al propietario del sitio web, indicando otros datos personales, dicho usuario estará  dando  su  consentimiento libre,  inequívoco, específico, informado y expreso para el tratamiento de sus datos personales por CLÍNICA DR. PÁEZ, con las finalidades establecidas anteriormente, así como atender su comunicación o enviar documentación.</p>

			<h2>4. Garantía</h2>
			<p>El Usuario garantiza que los datos aportados son verdaderos, exactos, completos y actualizados, siendo responsable de cualquier daño o perjuicio, directo o indirecto, que pudiera ocasionarse como consecuencia del incumplimiento de tal obligación. En el caso de que los datos aportados pertenecieran a un tercero, el Usuario garantiza que ha informado a dicho tercero y obtenido su autorización para facilitar sus datos personales a CLÍNICA DR. PÁEZ.</p>

			<h2>5. Conservación de los datos</h2>
			<p>Sus datos se conservarán mientras se mantenga la relación contractual o durante los años necesarios para cumplir con las obligaciones legales, mientras no solicite su cese o durante el tiempo necesario para la realización de los fines necesarios para los recabados.</p>

			<h2>6. Destinatarios</h2>
			<p>Sus datos serán conservados bajo estrictas medidas de seguridad que garanticen la confidencialidad y la seguridad de los mismos. Del mismo modo, sólo serán cedidos a las entidades y para las finalidades siguientes:</p>
			<p>-Entidades y proveedores que prestan servicios a CLÍNICA DR. PÁEZ para la correcta realización de estos servicios. Dichas entidades y proveedores se encuentran debidamente acreditados y firman con nosotros el correspondiente contrato de tratamiento de datos en cumplimiento de la normativa de protección de datos vigente.</p>
			<p>-Organismos y entidades oficiales en cumplimiento de las normativas y leyes vigentes.</p>
			<p>Los datos no se comunicarán a ningún tercero ajeno a CLÍNICA DR. PÁEZ, fuera de los casos anteriormente descritos, salvo obligación legal o autorización previa.</p>
			<p>Destinatarios fuera de la Unión Europea: CLÍNICA DR. PÁEZ no cede datos personales a terceros ni contrata con proveedores prestadores de servicios fuera de la Unión Europea.</p>
			<h2>7. Derechos</h2>
			<p>Como interesado que nos has proporcionado tus datos personales, tienes pleno derecho a obtener confirmación sobre si en CLÍNICA DR. PÁEZ estamos tratando tus datos personales, y en concreto estás facultado para ejercitar los siguientes derechos que la normativa en materia de protección de datos te reconoce, conforme a lo previsto en la misma:</p>
			<p>– Derecho de ACCESO a tus datos personales.</p>
			<p>– Derechos de solicitar la RECTIFICACIÓN de los datos inexactos.</p>
			<p>– Derecho de solicitar su SUPRESIÓN cuando, entre otros motivos, los datos ya no sean necesarios para los fines que fueron recogidos. </p>
			<p>– En determinadas circunstancias, podrás solicitar la LIMITACIÓN DEL TRATAMIENTO de tus datos, en cuyo caso únicamente los conservaremos para el ejercicio o la defensa de reclamaciones.</p>
			<p>– En determinadas circunstancias y por motivos relacionados con su situación particular, los interesados podrán ejercitar su derecho de OPOSICIÓN al tratamiento de sus datos. Dejaremos de tratar los datos, salvo por motivos legítimos imperiosos, o el ejercicio o la defensa de posibles reclamaciones.</p>
			<p>– En determinadas circunstancias y por motivos relacionados con tu situación particular, podrás solicitar su derecho a la PORTABILIDAD de los datos.</p>
			<p>Podrás ejercer tales derechos o solicitar información adicional presentando copia de un documento identificativo y exponiendo brevemente su caso y el derecho que quiere ejercer, mediante carta dirigida a CLÍNICA DR. PÁEZ mediante carta dirigida a la dirección principal situada en AVDA. MOLIERE, 18, BAJO 2, 29004 DE MÁLAGA, o a través de la dirección de correo electrónico EMAILEMPRESA.</p>
			<p>Además, en caso de que se haya vulnerado cualquiera de tus derechos, el interesado tiene derecho a presentar una reclamación ante la Agencia Española de Protección de Datos (AEPD), en C/ Jorge Juan, 6, 28001-Madrid o a través de la sede electrónica de la AEPD: https://sedeagpd.gob.es/sede-electronica-web/.   </p>

			<h2>8. Uso de formularios para la recogida de datos personales</h2>
			<p>En los formularios de compra y de contacto existentes en el sitio web, donde se recogen datos de carácter personal, el usuario deberá consentir de manera expresa y con carácter previo al envío de los mismos, la aceptación y conocimiento de la política de privacidad mediante la cumplimentación del checkbox “he leído y acepto la política de privacidad”, y a cuyo contenido podrá tener acceso mediante el enlace adjunto que le remitirá el presente aviso legal. Si el campo checkbox no fuere marcado por el usuario, no se realizará el envío de los datos contenidos en dichos formularios.</p>

			<h2>9. Política de redes sociales</h2>
			<p>Informa a los usuarios (en adelante, el “Usuario” o los “Usuarios” según corresponda) de que es titular de los perfiles en las Redes Sociales REDESOCIALES bajo la denominación CLÍNICA DR. PÁEZ y que éstos han sido creados con la finalidad principal de publicitar los servicios y eventos desarrollados en CLÍNICA DR. PÁEZ.</p>
			<p>El Usuario dispone de un perfil en alguna de las Redes Sociales mencionadas y ha decidido unirse a la página creada por CLÍNICA DR. PÁEZ, mostrando interés en la información que se publicite en la Red Social que corresponda. Al unirse a la página de CLÍNICA DR. PÁEZ, el Usuario está dando su consentimiento para el tratamiento de los datos personales publicados en su perfil por parte de CLÍNICA DR. PÁEZ.</p>
			<p>El Usuario puede acceder en todo momento a las políticas de privacidad de la propia Red Social, así como configurar su perfil para garantizar su privacidad.</p>
			<p>Los datos del Usuario en la Red Social serán tratados por CLÍNICA DR. PÁEZ, únicamente, dentro de la propia Red Social y en ningún caso serán tratados por fuera de ella. </p>
			<p>El Usuario tiene derecho a ejercitar sus derechos de acceso, rectificación, supresión, portabilidad y limitación, vendrá definido por la propia funcionalidad de la Red Social y la capacidad de acceso a la información de los perfiles de los Usuarios por parte de CLÍNICA DR. PÁEZ, pudiendo ejercitarse los mismos, únicamente, en relación a aquella información que se encuentre bajo el control de CLÍNICA DR. PÁEZ Igualmente, los Usuarios podrán interponer una reclamación relativa a la protección de sus datos personales ante la Agencia Española de Protección de Datos en la dirección C/ Jorge Juan, 6, 28001 - Madrid, cuando consideren que CLÍNICA DR. PÁEZ ha vulnerado los derechos que le son reconocidos por la normativa aplicable en protección de datos CLÍNICA DR. PÁEZ podrá realizar las siguientes actuaciones:</p>
			<p>	- Acceso a la información pública del perfil del Usuario.</p>
			<p>	- Enviar mensajes personales e individuales a través de los canales de la Red Social.</p>
			<p>El Usuario siempre puede controlar sus conexiones, eliminar los contenidos que dejen de interesarle y restringir con quién comparte sus conexiones, para ello deberá acceder a su configuración de privacidad en la Red Social.</p>
			<h3>Publicaciones:</h3>
			<p>El Usuario, una vez unido a la página de CLÍNICA DR. PÁEZ, podrá publicar en ésta última comentarios, enlaces, imágenes o fotografías o cualquier otro tipo de contenido multimedia soportado por la Red Social. El Usuario, en todos los casos, debe ser el titular de los mismos, gozar de los derechos de autor y de propiedad intelectual o contar con el consentimiento de los terceros afectados. Se prohíbe expresamente cualquier publicación en la página, ya sean textos, gráficos, fotografías, vídeos, etc. que atenten o sean susceptibles de atentar contra la moral, la ética, el buen gusto o el decoro, y/o que infrinjan, violen o quebranten los derechos de propiedad intelectual o industrial, el derecho a la imagen o la Ley. En estos casos, CLÍNICA DR. PÁEZ se reserva el derecho a retirar de inmediato el contenido, pudiendo solicitar el bloqueo permanente del Usuario.</p>
			<p>CLÍNICA DR. PÁEZ no se hará responsable de los contenidos que libremente ha publicado el Usuario.</p>
			<p>El Usuario debe tener presente que sus publicaciones serán conocidas por los otros Usuarios, por lo que él mismo es el principal responsable de su privacidad.</p>
			<p>Las imágenes que puedan publicarse en la página no serán almacenadas por CLÍNICA DR. PÁEZ, pero sí permanecerán en la Red Social.</p>

			<h2>10. Duración y modificación de la Política de Privacidad</h2>
			<p>CLÍNICA DR. PÁEZ se reserva el derecho a modificar, total o parcialmente, la presente Política de Privacidad, publicando los cambios en el Sitio Web. Asimismo, podrá efectuar sin previo aviso las modificaciones que considere oportunas, pudiendo cambiar, suprimir o añadir tanto los contenidos y servicios que presta, como la forma en la que éstos aparezcan presentados o localizados. En consecuencia, se entenderán como vigentes, las condiciones generales/Políticas que estén publicadas en el momento en el que el Usuario acceda deberá leerlas periódicamente.</p>
			<p>Con independencia de lo dispuesto, CLÍNICA DR. PÁEZ podrá dar por terminado, suspender o interrumpir, en cualquier momento sin necesidad de preaviso, el acceso a los contenidos del Sitio Web, sin posibilidad por parte del Usuario de exigir indemnización alguna. </p>

			<div class="col-sm-6 col-sm-offset-3 text-center">           
				<button onclick="history.go(-1);" id="botonVolver" class="btn btn-primary">Volver</button>
			</div>
		</div>
	</div>
</body>


