<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="">
    <meta name="google-site-verification" content="u2yUkYOKheQ7YW18vOfdT5Bxl9oOl7Ma0S8c-4BkfLw"/>
    <!--Descripcion de la página-->
    <meta name="description" content="Tu clínica Podológica de confianza.
    Tfno: 952 22 58 97 no dude en llamarnos.
    Especialistas en cirugía podológica y podología deportiva." />

    <title>Clínica Podológica Páez</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../static/css/style.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="../../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../static/js/bootstrap.min.js"></script>

    <!-- JavaScript -->
    <script src="../../static/js/principal.js"></script>
    <script src="../../static/js/cookies.js"></script>

    <!-- Custom Fonts -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    

    <!--Swiper-->
    <script type="text/javascript" src="../../static/js/swiper.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/css/swiper.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/css/swiper.min.css">
     
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.jquery.min.js"></script>
    
    <link rel="Shortcut Icon" href="../../static/img/favicon.ico" type="image/x-icon"/>


</head>

<body id ="bodyNormal">
<div id="overbox3">
    <div id="infobox3">
        <p>Esta web utiliza cookies para obtener datos estadísticos de la navegación de sus usuarios. Si continúas navegando consideramos que aceptas su uso.
        <a href="cookies">Más información</a>
        <a onclick="aceptar_cookies();" style="cursor:pointer;">Aceptar</a></p>
    </div>
</div>
    <!-- PESTAÑAS -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div id="barraNavegacion" class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menú <i class="fa fa-bars"></i>
                </button>
                <a id="nombre" class="navbar-brand page-scroll" href="#top">Clínica Podológica Páez</a>

            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#top"></a>
                    </li>
                    <li class="li-nav">
                        <a class="page-scroll" href="#map">Ubicación</a>
                    </li>
                    <li class="li-nav">
                        <a class="page-scroll" href="#servicios">Servicios</a>
                    </li>
                    <!-- <li class="li-nav">
                        <a class="page-scroll" href="#swiper">Equipamiento</a>
                    </li> -->
                    <li class="li-nav">
                        <a class="page-scroll" href="#team">El equipo</a>
                    </li>
                    <!-- <li class="li-nav">
                        <a class="page-scroll" href="recursos">Recursos para pacientes</a>
                    </li> -->
                </ul>
            </div>
        </div>
    </nav>

    <!-- <header id="top" class="header">
        <div id="textoCabecera" class="text-vertical-center">
            <img src="../../static/img/paez_logo.png" alt="Paez Logo" id="logoPrincipal">
            <h1 id="tituloWeb">Bienvenido a Clínica Podológica Páez</h1>
            <div class="containerContact">
                <div ><a class="contactRight" href="https://www.facebook.com/ClinicaPodologiaPaez/about"><span id="iconContact" class="fa-stack fa-4x"><i id="iconsShape" class="fa fa-facebook fa-stack-1x"></i></span></a></div>
                <div><a href="https://www.instagram.com/clinicapodologicapaez/?hl=es"><span id="iconContact" class="fa-stack fa-4x"><i id="iconsShape" class="fa fa-instagram fa-stack-1x"></i></span></a></div>
                <div><a class="contactLeft"href="https://twitter.com/PodologiaPaez"><span id="iconContact" class="fa-stack fa-4x"><i id="iconsShape" class="fa fa-twitter fa-stack-1x"></i></span></a></div>
                <br>
            </div>
            <div class="containerContact">
                <div><a class="contactRight" href="tel:647-742-331"><span id="iconContact" class="fa-stack fa-4x"><i id="iconsShape" class="fa fa-phone fa-stack-1x fa-inverse"></i></span></a></div>
                <div id="telefonoDiv"><h2 id="telefono">637 90 30 10</h2></div>
                <div><a class="contactLeft" href="contactView"><span id="iconContact" class="fa-stack fa-4x"><i id="iconsShape" class="fa fa-envelope fa-stack-1x fa-inverse"></i></span></a></div>
                <br>
            </div>
            <div id="fondoCabecera"></div>
        </div>
        <video autoplay muted loop src="https://www.w3schools.com/html/mov_bbb.mp4"></video>
    </header> -->
    
   
    <!-- Header -->
    <header id="top" class="header">
        <div id="textoCabecera" class="text-vertical-center">
            <img src="../../static/img/paez_logo.png" alt="Paez Logo" id="logoPrincipal">
            <h1 id="tituloWeb">Bienvenido a Clínica Podológica Páez</h1>
            <div class="containerContact">
                <div ><a class="contactRight" href="https://www.facebook.com/ClinicaPodologiaPaez/about"><span id="iconContact" class="fa-stack fa-4x"><i id="iconsShape2" class="fa fa-facebook fa-stack-1x"></i></span></a></div>
                <div><a href="https://www.instagram.com/clinicapodologicapaez/?hl=es"><span id="iconContact" class="fa-stack fa-4x"><i id="iconsShape" class="fa fa-instagram fa-stack-1x"></i></span></a></div>
                <div><a class="contactLeft"href="https://twitter.com/PodologiaPaez"><span id="iconContact" class="fa-stack fa-4x"><i id="iconsShape2" class="fa fa-twitter fa-stack-1x"></i></span></a></div>
                <br>
            </div>
            <div class="containerContact">
                <div><a class="contactRight" href="tel:647-742-331"><span id="iconContact" class="fa-stack fa-4x"><i id="iconsShape" class="fa fa-phone fa-stack-1x fa-inverse"></i></span></a></div>
                <div id="telefonoDiv"><h2 id="telefono">637 90 30 10</h2></div>
                <div><a class="contactLeft" href="contactView"><span id="iconContact" class="fa-stack fa-4x"><i id="iconsShape" class="fa fa-envelope fa-stack-1x fa-inverse"></i></span></a></div>
                <br>
            </div>
            <div id="fondoCabecera"></div>
        </div>
    </header>

    <!-- Info -->
    <section id="info">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <p class="infoText">
                        <b>Clínica Podológica Páez</b> somos un equipo de Profesionales Podológicos, bajo la dirección del <b>Dr. Joaquín Páez Moguer</b>, trabajando en Málaga desde el año 2000, con experiencia en el tratamiento integral de las enfermedades y trastornos del pie. Nuestra filosofía de trabajo se basa en dos pilares fundamentales, el <b>rigor científico y la calidad humana</b>.
                        <br><br>
                        En <b>Clínica Podológica Páez</b>, tenemos una participación activa en investigación y docencia podológica, mediante la publicación de artículos científicos, ponencias en congresos y la impartición de cursos de podología. 
                        <br><br>
                        Contamos con un equipo profesional altamente cualificado, poniendo a su alcance la más avanzada tecnología para el diagnóstico y el tratamiento de la patología del pie.
                        <br><br>
                        Para el diagnóstico contamos con <b>plataforma informatizada de presiones plantares, Sistema de Análisis de la marcha y carrera Optogait® y diagnóstico por Ecografía</b>
                        <br><br>
                        Realizamos tratamientos individualizados para la corrección de las afecciones y enfermedades de los pies, mediante el uso de nuevas terapias, con evidencia científica, como son <b>soportes plantares personalizados, Posturología, Infiltraciones, Mesoterapia, Terapia Neural, Plasma Rico en Plaquetas, Terapia LÁSER y Cirugía Podológica</b>.
                    </p>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <a id="twitter" class="twitter-timeline" data-lang="es"  data-height="500" data-theme="light" href="https://twitter.com/PodologiaPaez">Tweets de Clínica Páez</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
                
                <!-- Map -->
                <div id="map" class="col-md-12 text-center">
                    <h4 class="infoText">Puede encontrarnos en <b>Avenida Moliere 18, Bajo 2</b></h4>
                    <iframe id="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3198.0114972290635!2d-4.420736583478484!3d36.722285109910715!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd72f7bfc1298c35%3A0x258f56cf28d6bc71!2sCl%C3%ADnica+Podologica+P%C3%A1ez!5e0!3m2!1ses!2ses!4v1485285595354"allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>
        
        <!-- Servicios -->
    <section id="servicios" class="portfolio">
        <div id="servContainer" class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2 class="section-heading">Nuestros servicios</h2>
                    <hr class="small">
                    <!--FILA 1-->
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <div class="portfolio-item">
                                <a href="serv4" class="portfolio-box">
                                    <img class="img-portfolio img-responsive" src="../../static/img/serviciosPrincipal/ciru.png" alt="Cirugia Podologica">
                                    <div class="portfolio-box-caption">
                                        <div class="portfolio-box-caption-content">
                                            <div class="project-name">
                                                <b>Cirugía Podológica</b>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <div class="portfolio-item">
                                <a href="serv2" class="portfolio-box">
                                    <img class="img-portfolio img-responsive" src="../../static/img/serviciosPrincipal/podoDep.jpg" alt="Podologia Deportiva">
                                    <div class="portfolio-box-caption">
                                        <div class="portfolio-box-caption-content">
                                            <div class="project-name">
                                                <b>Podología Deportiva</b>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <div class="portfolio-item">
                                <a href="serv12" class="portfolio-box">
                                    <img class="img-portfolio img-responsive" src="../../static/img/serviciosPrincipal/estudioPisada1.jpg" alt="Estudio de la pisada">
                                    <div class="portfolio-box-caption">
                                        <div class="portfolio-box-caption-content">
                                            <div class="project-name">
                                                <b>Estudio de la Pisada</b>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <div class="portfolio-item">
                                <a href="serv3" class="portfolio-box">
                                    <img class="img-portfolio img-responsive" src="../../static/img/serviciosPrincipal/plantillas3.jpg" alt="Plantillas">
                                    <div class="portfolio-box-caption">
                                        <div class="portfolio-box-caption-content">
                                            <div class="project-name">
                                                <b>Plantillas Personalizadas</b>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        
                        
                    </div>

                    <!--FILA 2-->
                    <div class="row">
                        
                        
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <div class="portfolio-item">
                                <a href="serv10" class="portfolio-box">
                                    <img class="img-portfolio img-responsive" src="../../static/img/serviciosPrincipal/postu.png" alt="Posturologia">
                                    <div class="portfolio-box-caption">
                                        <div class="portfolio-box-caption-content">
                                            <div class="project-name">
                                                <b>Posturología</b>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <div class="portfolio-item">
                                <a href="serv1" class="portfolio-box">
                                    <img class="img-portfolio img-responsive" src="../../static/img/serviciosPrincipal/visturi.JPG" alt="Quiropodologia">
                                    <div class="portfolio-box-caption">
                                        <div class="portfolio-box-caption-content">
                                            <div class="project-name">
                                                <b>Quiropodología</b>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <div class="portfolio-item">
                                <a href="serv10" class="portfolio-box">
                                    <img class="img-portfolio img-responsive" src="../../static/img/serviciosPrincipal/visturi.JPG" alt="Neuromodulación">
                                    <div class="portfolio-box-caption">
                                        <div class="portfolio-box-caption-content">
                                            <div class="project-name">
                                                <b>Neuromodulación</b>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <div class="portfolio-item">
                                <a href="serv10" class="portfolio-box">
                                    <img class="img-portfolio img-responsive" src="../../static/img/serviciosPrincipal/visturi.JPG" alt="Intervencionismo">
                                    <div class="portfolio-box-caption">
                                        <div class="portfolio-box-caption-content">
                                            <div class="project-name">
                                                <b>Intervencionismo ecoguiado</b>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        
                    </div>
                    <!--FILA 3-->
                    <div class="row">
                        
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <div class="portfolio-item">
                                <a href="serv5" class="portfolio-box">
                                    <img class="img-portfolio img-responsive" src="../../static/img/serviciosPrincipal/teraLaser.png" alt="Terapia Laser">
                                    <div class="portfolio-box-caption">
                                        <div class="portfolio-box-caption-content">
                                            <div class="project-name">
                                                <b>Terapia Láser para Hongos</b>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <div class="portfolio-item">
                                <a href="serv10" class="portfolio-box">
                                    <img class="img-portfolio img-responsive" src="../../static/img/serviciosPrincipal/podoInf.jpg" alt="Podologia Infantil">
                                    <div class="portfolio-box-caption">
                                        <div class="portfolio-box-caption-content">
                                            <div class="project-name">
                                                <b>Podología Infantil</b>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <div class="portfolio-item">
                                <a href="serv7" class="portfolio-box">
                                    <img class="img-portfolio img-responsive" src="../../static/img/serviciosPrincipal/diabe.PNG" alt="Pie diabetico">
                                    <div class="portfolio-box-caption">
                                        <div class="portfolio-box-caption-content">
                                            <div class="project-name">
                                                <b>Pie Diabético</b>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <div class="portfolio-item">
                                <a id="img-plasma-overflow" href="serv10" class="portfolio-box">
                                    <img id = "img-plasma" class="img-portfolio img-responsive" src="../../static/img/serviciosPrincipal/plasma.png" alt="Plasma rico en plaquetas">
                                    <div class="portfolio-box-caption">
                                        <div class="portfolio-box-caption-content">
                                            <div class="project-name">
                                                <b>Plasma Rico en Plaquetas e Infiltraciones</b>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>


    <!--SERVICIOS movil-->
    <section id="servicios2" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2 class= "section-heading">Nuestros servicios</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="portfolio-item">
                                <a href="serv1" class="portfolio-box">
                                    <img class="img-portfolio img-responsive" src="../../static/img/serviciosPrincipal/visturi.JPG" alt="Quiropodologia">
                                    <div class="portfolio-box-caption">
                                    </div>
                                    <div id="textServMovil" class="portfolio-box-caption-content">
                                        <div class="project-name">
                                            <b>Quiropodología</b>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="portfolio-item">
                                <a href="serv12" class="portfolio-box">
                                    <img class="img-portfolio img-responsive" src="../../static/img/serviciosPrincipal/estudioPisada1.jpg" alt=""alt="Estudio de la pisada">
                                    <div class="portfolio-box-caption"></div>
                                    <div id="textServMovil" class="portfolio-box-caption-content">
                                        <div class="project-name">
                                            <b>Estudio de la Pisada</b>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="portfolio-item">
                                <a href="serv2" class="portfolio-box">
                                    <img class="img-portfolio img-responsive" src="../../static/img/serviciosPrincipal/podoDep.jpg" alt="Podologia Deportiva">
                                    <div class="portfolio-box-caption"></div>
                                    <div id="textServMovil" class="portfolio-box-caption-content">
                                        <div class="project-name">
                                            <b>Podología Deportiva</b>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="portfolio-item">
                                <a href="serv3" class="portfolio-box">
                                    <img class="img-portfolio img-responsive" src="../../static/img/serviciosPrincipal/ciru.png" alt="Plantillas">
                                    <div class="portfolio-box-caption"></div>
                                    <div id="textServMovil" class="portfolio-box-caption-content">
                                        <div class="project-name">
                                            <b>Plantillas Personalizadas</b>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>                
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="portfolio-item">
                                <a href="serv4" class="portfolio-box">
                                    <img class="img-portfolio img-responsive" src="../../static/img/serviciosPrincipal/plantillas3.jpg" alt="Cirugia podologica">
                                    <div class="portfolio-box-caption">
                                    </div>
                                    <div id="textServMovil" class="portfolio-box-caption-content">
                                        <div class="project-name">
                                            <b>Cirugía Podológica</b>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="portfolio-item">
                                <a href="serv5" class="portfolio-box">
                                    <img class="img-portfolio img-responsive" src="../../static/img/serviciosPrincipal/teraLaser.png" alt="Terapia laser">
                                    <div class="portfolio-box-caption"></div>
                                    <div id="textServMovil" class="portfolio-box-caption-content">
                                        <div class="project-name">
                                            <b>Terapia Láser para Hongos</b>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="portfolio-item">
                                <a href="serv6" class="portfolio-box">
                                    <img class="img-portfolio img-responsive" src="../../static/img/serviciosPrincipal/podoInf.jpg" alt="Podologia infantil">
                                    <div class="portfolio-box-caption"></div>
                                    <div id="textServMovil" class="portfolio-box-caption-content">
                                        <div class="project-name">
                                            <b>Podología Infantil</b>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="portfolio-item">
                                <a href="serv7" class="portfolio-box">
                                    <img class="img-portfolio img-responsive" src="../../static/img/serviciosPrincipal/diabe.PNG" alt="Pie diabetico">
                                    <div class="portfolio-box-caption">
                                    </div>
                                    <div id="textServMovil" class="portfolio-box-caption-content">
                                        <div class="project-name">
                                            <b>Pie Diabético</b>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="portfolio-item">
                                <a href="serv8" class="portfolio-box">
                                    <img class="img-portfolio img-responsive" src="../../static/img/serviciosPrincipal/plasma.png" alt="Plasma rico en plaquetas">
                                    <div class="portfolio-box-caption"></div>
                                    <div id="textServMovil" class="portfolio-box-caption-content">
                                        <div class="project-name">
                                            <b>Plasma Rico en Plaquetas</b>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="portfolio-item">
                                <a href="serv10" class="portfolio-box">
                                    <img class="img-portfolio img-responsive" src="../../static/img/serviciosPrincipal/postu.png" alt="Posturologia">
                                    <div class="portfolio-box-caption">
                                    </div>
                                    <div id="textServMovil" class="portfolio-box-caption-content">
                                        <div class="project-name">
                                            <b>Posturología</b>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="portfolio-item">
                                <a href="serv10" class="portfolio-box">
                                    <img class="img-portfolio img-responsive" src="../../static/img/serviciosPrincipal/eco.png" alt="Ecografia">
                                    <div class="portfolio-box-caption"></div>
                                    <div id="textServMovil" class="portfolio-box-caption-content">
                                        <div class="project-name">
                                            <b>Ecografía</b>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div> -->
                    </div>
                    <div class="row">
                        <!-- <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="portfolio-item">
                                <a href="serv10" class="portfolio-box">
                                    <img class="img-portfolio img-responsive" src="../../static/img/serviciosPrincipal/opto2.jpg" alt="Optogait">
                                    <div class="portfolio-box-caption"></div>
                                    <div id="textServMovil" class="portfolio-box-caption-content">
                                        <div class="project-name">
                                            <b>OptoGait</b>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div> -->
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="portfolio-item">
                                <a href="serv10" class="portfolio-box">
                                    <img class="img-portfolio img-responsive" src="../../static/img/serviciosPrincipal/postu.png" alt="Posturologia">
                                    <div class="portfolio-box-caption">
                                    </div>
                                    <div id="textServMovil" class="portfolio-box-caption-content">
                                        <div class="project-name">
                                            <b>Neuromodulación</b>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="portfolio-item">
                                <a href="serv10" class="portfolio-box">
                                    <img class="img-portfolio img-responsive" src="../../static/img/serviciosPrincipal/opto2.jpg" alt="Optogait">
                                    <div class="portfolio-box-caption"></div>
                                    <div id="textServMovil" class="portfolio-box-caption-content">
                                        <div class="project-name">
                                            <b>Intervencionismo ecoguiado</b>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </section>




    <!-- Slider main container-->
    <!-- <div id="swiper" class="swiper-container swiperPrincipal">
        <div class="row text-center">
            <h2 class="section-heading-black">Nuestro equipamiento</h2>
            <br>
        </div>
        <div class="swiper-wrapper"> -->
            <!-- Slides -->
            <!-- <div id="imgSlide1" class="swiper-slide slidesPrincipal">
                <div class="text-vertical-center">
                    <h2 class="callText">OptoGait</h2>
                </div>
            </div>
            <div id="imgSlide2" class="swiper-slide slidesPrincipal">
                <div class="text-vertical-center">
                    <h2 class="callText">Laser</h2>
                </div>
            </div>
            <div id="imgSlide3" class="swiper-slide slidesPrincipal">
               <div class="text-vertical-center">
                    <h2 class="callText">Ecógrafo</h2>
                </div>
            </div>
            <div id="imgSlide4" class="swiper-slide slidesPrincipal">
               <div class="text-vertical-center">
                    <h2 class="callText">Gyko</h2>
                </div>
            </div>
            <div id="imgSlide5" class="swiper-slide slidesPrincipal">
               <div class="text-vertical-center">
                    <h2 class="callText">Podobit</h2>
                </div>
            </div>
        </div>

        <div class="swiper-pagination"></div>
       
    </div> -->


    <!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="section-heading">El equipo</h2>
                    <h3 class="section-subheading text-muted">Profesionales a su disposición</h3>
                    <hr class="small">
                </div>
            </div>

            <div class="row text-center">
                <!-- Joaquin -->
                <div class="col-sm-6 col-sm-offset-3 text-center">
                    <div class="team-member">
                        <a href="CVJ">
                            <div class="container1">
                              <div class="div-img" >
                                <img class="img1" src="../../static/img/Optimized-Joaquín Paez Moguer.JPG" alt="Joaquin Paez">
                                <div class="text">Ver Curriculum</div>
                              </div>
                            </div>
                        </a>
                        <h3 class="nombreEquipo">Joaquín Páez Moguer</h3>
                        <h4 class="text-muted">Director Clínica Podológica Páez</h4>
                    </div>
                </div>
            </div>
                <!-- Pilar -->
                <div class = "row">
                    <div class="col-sm-4 text-center">
                        <div class="team-member text-center">
                            <a href="CVP">
                               <div class="container1">
                                  <div class="div-img" >
                                    <img class="img1" src="../../static/img/Pilar Camarero Gomez2.JPG" alt="Pilar Camarero">
                                    <div class="text">Ver Curriculum</div>
                                  </div>
                                </div>
                            </a>
                            <h3 class="nombreEquipo">Pilar Camarero Gómez</h3>
                            <h4 class="text-muted">Podóloga</h4>
                        </div>
                    </div>
                    <!-- Juan Manuel -->
                    <div class="col-sm-4 text-center">
                        <div class="team-member text-center">
                            <a href="">
                               <div class="container1">
                                  <div class="div-img" >
                                    <img class="img1" src="../../static/img/Optimized-Juan Manuel Escudero Prados.jpg" alt="Juan Manuel Escudero">
                                    <div class="text">Ver Curriculum</div>
                                  </div>
                                </div>
                            </a>
                            <h3 class="nombreEquipo">Juan Manuel Escudero Prado</h3>
                            <h4 class="text-muted">Podólogo</h4>
                        </div>
                    </div>
                    <!-- Ramona -->
                    <div class="col-sm-4 text-center">
                        <div class="team-member text-center">
                            <a >
                               <div class="container1">
                                  <div class="div-img" >
                                    <img class="img1" src="../../static/img/Optimized-Ramona Gutierrez Gallego.JPG" alt="Ramona Gutierrez">
                                    <div class="text">Ver Curriculum</div>
                                  </div>
                                </div>
                            </a>
                            <h3 class="nombreEquipo">Ramona Gutierrez Gallego</h3>
                            <h4 class="text-muted">Auxiliar</h4>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>

    <!-- Team Section - MOVIL -->
    <section id="team2" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="section-heading">El equipo</h2>
                    <h3 class="section-subheading text-muted">Profesionales a su disposición</h3>
                </div>
            </div>

            <div class="row text-center">
                <!-- Joaquin -->
                <div class="col-md-6 col-sm-6 col-xs-6 text-center">
                    <div class="team-member">
                        <a href="CVJ-mov">
                            <div class="container1">
                              <div class="div-img" >
                                <img class="img1" src="../../static/img/Optimized-Joaquín Paez Moguer.JPG" alt="Joaquin Paez">
                                <div class="text">Ver Curriculum</div>
                              </div>
                            </div>
                        </a>
                        <h4 class="nombreEquipo">Joaquín Páez Moguer</h4>
                        <h5 class="text-muted">Director Clínica Podológica Páez</h5>
                    </div>
                </div>
                <!-- Pilar -->
                <div class="col-md-6 col-sm-6 col-xs-6 text-center">
                    <div class="team-member text-center">
                        <a href="CVP-mov">
                           <div class="container1">
                              <div class="div-img" >
                                <img class="img1" src="../../static/img/Pilar Camarero Gomez2.JPG" alt="Pilar Camarero">
                                <div class="text">Ver Curriculum</div>
                              </div>
                            </div>
                        </a>
                        <h4 class="nombreEquipo">Pilar Camarero Gómez</h4>
                        <h5 class="text-muted">Podóloga</h5>
                    </div>
                </div>
            </div>
            <div class = "row">
                <!-- Juan Manuel -->
                <div class="col-md-6 col-sm-6 col-xs-6 text-center">
                    <div class="team-member text-center">
                        <a href="">
                           <div class="container1">
                              <div class="div-img" >
                                <img class="img1" src="../../static/img/Optimized-Juan Manuel Escudero Prados.jpg" alt="Juan Manuel Escudero">
                                <div class="text">Ver Curriculum</div>
                              </div>
                            </div>
                        </a>
                        <h4 class="nombreEquipo">Juan Manuel Escudero Prados</h4>
                        <h5 class="text-muted">Podólogo</h5>
                    </div>
                </div>
                <!-- Ramona -->
                <div class="col-md-6 col-sm-6 col-xs-6 text-center">
                    <div class="team-member text-center">
                        <a>
                           <div class="container1">
                              <div class="div-img" >
                                <img class="img1" src="../../static/img/Optimized-Ramona Gutierrez Gallego.JPG" alt="Ramona Gutierrez">
                                <div class="text">Ver Curriculum</div>
                              </div>
                            </div>
                        </a>
                        <h4 class="nombreEquipo">Ramona Gutierrez Gallego</h4>
                        <h5 class="text-muted">Auxiliar</h5>
                    </div>
                </div>
            </div>
                
            </div>
        </div>
    </section>



    
    
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <hr class="long">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong>Clínica Podológica Páez</strong>
                    </h4>
                    <p>
                    Avenida Moliere 18, Bajo 2
                    <br>Málaga
                    </p>
                    <ul class="list-unstyled">
                        <li><a class="phone-hover" href="tel:647-742-331"><i class="fa fa-phone fa-fw"></i>637 90 30 10</li></a>
                        <li>Emails:
                            <a href="contactView">
                                <span id="iconContact" class="fa-stack fa-2x">
                                    <i id="iconsShape" class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <ul class="list-inline">
                        <li>
                            <a id="footerLinks" href="https://www.facebook.com/ClinicaPodologiaPaez/about"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a id="footerLinks" href="https://www.instagram.com/clinicapodologicapaez/?hl=es"><i class="fa fa-instagram fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a id="footerLinks" href="https://twitter.com/PodologiaPaez"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                        </li>
                        <!--
                        <li>
                            <a id="footerLinks" href="#"><i class="fa fa-youtube fa-fw fa-3x"></i></a>
                        </li>
                        -->
                    </ul>
                    <br>
                    <a id="politicaPriv" href="politica-privacidad"><p>Aviso legal y politica de privacidad</p></a>
                    <hr class="long">
                    
                </div>
            </div>
        </div>
        </footer>
        
        <a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
</body>

</html>
