<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="">
    <!--Descripcion de la página-->
    <meta name="description" content="Tu clínica Podológica de confianza.
    Llámenos para solicitar cita al Tfno.: 952 22 58 97.
    Especialistas en cirugía podológica. Consulte nuestros servicios." />

    <title>Clínica Podológica Páez</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../static/css/style.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="../../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../static/js/bootstrap.min.js"></script>

    <!-- JavaScript -->
    <script src="../../static/js/principal.js"></script>
    <script src="../../static/js/cookies.js"></script>

    <!-- Custom Fonts -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!--Swiper-->
    <script type="text/javascript" src="../../static/js/swiper.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/css/swiper.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/css/swiper.min.css">
     
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.jquery.min.js"></script>
        


</head>

<body id ="bodyNormal">
<div id="overbox3">
    <div id="infobox3">
        <p>Esta web utiliza cookies para obtener datos estadísticos de la navegación de sus usuarios. Si continúas navegando consideramos que aceptas su uso.
        <a href="politica-privacidad">Más información</a>
        <a onclick="aceptar_cookies();" style="cursor:pointer;">X Cerrar</a></p>
    </div>
</div>
    <!-- PESTAÑAS -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div id="barraNavegacion" class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menú <i class="fa fa-bars"></i>
                </button>
                <a id="nombre" class="navbar-brand page-scroll" href="#top">Clínica Podológica Páez</a>

            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#top"></a>
                    </li>
                    <li class="li-nav">
                        <a class="page-scroll" href="#contact">Contacta</a>
                    </li>
                    <li class="li-nav">
                        <a class="page-scroll" href="#servicios">Servicios</a>
                    </li>
                    <li class="li-nav">
                        <a class="page-scroll" href="#swiper">Equipamiento</a>
                    </li>
                    <li class="li-nav">
                        <a class="page-scroll" href="#team">El equipo</a>
                    </li>
                    <li class="li-nav">
                        <a class="page-scroll" href="#map">Ubicación</a>
                    </li>
                    <li class="li-nav">
                        <a class="page-scroll" href="serv12">Recursos para pacientes</a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </nav>




   
    <!-- Header -->
    <header id="top" class="header">
        <div id="textoCabecera" class="text-vertical-center">
            <img src="../../static/img/paez_logo.png">
            <h1 id="tituloWeb">Bienvenido a Clínica Podológica Páez</h1>
            <h2 id="telefono">Tfno.: 952 22 58 97</h2>
            <div id="fondoCabecera"></div>
            <br>
            <a href="#contact" class="btn btn-dark btn-lg">Descúbranos</a>
        </div>
    </header>

    <!-- Contacto 
    <section id="contact">
        <div class="row text-center">
        </div>
        <div id="telfContacto" class="row text-center">
            <div id="containerContact" class="col-md-4 col-md-offset-1">
                <div id="contacContent">
                    <h1 class="section-heading">Contacto</h1>
                    <br><br>
                    <h2 class="citasText">PARA SOLICITAR CITA NO DUDE EN LLAMARNOS AL 952 22 58 97</h2>
                    <h3 class="citasText">O si lo desea puede escribirnos un mensaje pulsando en el siguiente icono</h3>
                    <a href="contactView">
                        <span id="iconContact" class="fa-stack fa-4x">
                            <i id="iconsShape" class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-md-offset-1">
                <h1 class="section-heading">Noticias</h1>
                
                <a class="twitter-timeline" data-lang="es"  data-height="450" data-theme="light" href="https://twitter.com/PodolgicaPaez">Tweets de Clínica Páez</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                
            </div>
        </div>
    </section>
-->
    <!-- Mapa y twitter -->
    <section id="contact">
        <div class="row text-center">
            <div id="containerContact" class="col-md-12">
                <div id="contacContent">
                    <h1 class="section-heading">Contacto</h1>
                    <br><br>
                    <h2 class="citasText">PARA SOLICITAR CITA NO DUDE EN LLAMARNOS AL 952 22 58 97</h2>
                    <h3 class="citasText">O si lo desea puede escribirnos un mensaje pulsando en el siguiente icono</h3>
                    <a href="contactView">
                        <span id="iconContact" class="fa-stack fa-4x">
                            <i id="iconsShape" class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <div id="telfContacto" class="row text-center">
            <div class="col-md-4 col-md-offset-1">
                <div id="contacContent">
                    <h1 class="section-heading">Ubicación</h1>
                    <iframe id="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3198.0114972290635!2d-4.420736583478484!3d36.722285109910715!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd72f7bfc1298c35%3A0x258f56cf28d6bc71!2sCl%C3%ADnica+Podologica+P%C3%A1ez!5e0!3m2!1ses!2ses!4v1485285595354" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-4 col-md-offset-1">
                <h1 class="section-heading">Noticias</h1>
                <a id="twitter" class="twitter-timeline" data-lang="es"  data-height="450" data-theme="light" href="https://twitter.com/PodolgicaPaez">Tweets de Clínica Páez</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                
            </div>
        </div>
    </section>

    
        <!-- Servicios -->
    <section id="servicios" class="portfolio">
        <div id="servContainer" class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h1 class="section-heading">Nuestros servicios</h1>
                    <hr class="small">
                    <!--FILA 1-->
                    <div class="row">
                        <div class="col-md-3 col-sm-3">
                            <div class="portfolio-item">
                                <a href="serv1" class="portfolio-box">
                                    <img class="img-portfolio img-responsive" src="../../static/img/visturi.JPG">
                                    <div class="portfolio-box-caption">
                                        <div class="portfolio-box-caption-content">
                                            <div class="project-name">
                                                <b>Quiropodología</b>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <div class="portfolio-item">
                                <a href="serv1" class="portfolio-box">
                                    <img class="img-portfolio img-responsive" src="../../static/img/estudioPisada.jpg">
                                    <div class="portfolio-box-caption">
                                        <div class="portfolio-box-caption-content">
                                            <div class="project-name">
                                                <b>Estudio de la pisada</b>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <div class="portfolio-item">
                                <a href="serv2" class="portfolio-box">
                                    <img class="img-portfolio img-responsive" src="../../static/img/podoDep.jpg">
                                    <div class="portfolio-box-caption">
                                        <div class="portfolio-box-caption-content">
                                            <div class="project-name">
                                                <b>Podología deportiva</b>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <div class="portfolio-item">
                                <a href="serv4" class="portfolio-box">
                                    <img class="img-portfolio img-responsive" src="../../static/img/DeathtoStock_Wired2.jpg">
                                    <div class="portfolio-box-caption">
                                        <div class="portfolio-box-caption-content">
                                            <div class="project-name">
                                                <b>Cirugía podológica</b>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--FILA 2-->
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <div class="portfolio-item">
                                <a href="serv3" class="portfolio-box">
                                    <img class="img-portfolio img-responsive" src="../../static/img/plantillas3.jpg">
                                    <div class="portfolio-box-caption">
                                        <div class="portfolio-box-caption-content">
                                            <div class="project-name">
                                                <b>Plantillas personalizadas</b>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <div class="portfolio-item">
                                <a href="serv5" class="portfolio-box">
                                    <img class="img-portfolio img-responsive" src="../../static/img/DeathtoStock_Wired9.jpg">
                                    <div class="portfolio-box-caption">
                                        <div class="portfolio-box-caption-content">
                                            <div class="project-name">
                                                <b>Terapia láser para hongos</b>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <div class="portfolio-item">
                                <a href="serv6" class="portfolio-box">
                                    <img class="img-portfolio img-responsive" src="../../static/img/podoInf.jpg">
                                    <div class="portfolio-box-caption">
                                        <div class="portfolio-box-caption-content">
                                            <div class="project-name">
                                                <b>Podología Infantil</b>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <div class="portfolio-item">
                                <a href="serv7" class="portfolio-box">
                                    <img class="img-portfolio img-responsive" src="../../static/img/DeathtoStock_Wired7.jpg">
                                    <div class="portfolio-box-caption">
                                        <div class="portfolio-box-caption-content">
                                            <div class="project-name">
                                                <b>Pie diabético</b>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--FILA 3-->
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <div class="portfolio-item">
                                <a href="serv8" class="portfolio-box">
                                    <img class="img-portfolio img-responsive" src="../../static/img/DeathtoStock_Wired3.jpg">
                                    <div class="portfolio-box-caption">
                                        <div class="portfolio-box-caption-content">
                                            <div class="project-name">
                                                <b>Plasma rico en plaquetas</b>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <div class="portfolio-item">
                                <a href="serv9" class="portfolio-box">
                                    <img class="img-portfolio img-responsive" src="../../static/img/DeathtoStock_Wired6.jpg">
                                    <div class="portfolio-box-caption">
                                        <div class="portfolio-box-caption-content">
                                            <div class="project-name">
                                                <b>Ecografía</b>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <div class="portfolio-item">
                                <a href="serv10" class="portfolio-box">
                                    <img class="img-portfolio img-responsive" src="../../static/img/vibrant9.jpg">
                                    <div class="portfolio-box-caption">
                                        <div class="portfolio-box-caption-content">
                                            <div class="project-name">
                                                <b>Posturología</b>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <div class="portfolio-item">
                                <a href="serv11" class="portfolio-box">
                                    <img class="img-portfolio img-responsive" src="../../static/img/opto2.jpg">
                                    <div class="portfolio-box-caption">
                                        <div class="portfolio-box-caption-content">
                                            <div class="project-name">
                                                <b>OptoGait</b>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

<!-- /Recursos
<div class="col-md-3 col-sm-3 col-xs-3">
                            <div class="portfolio-item">
                                <a href="serv8" class="portfolio-box">
                                    <img class="img-portfolio img-responsive" src="../../static/img/DeathtoStock_Wired3.jpg">
                                    <div class="portfolio-box-caption">
                                        <div class="portfolio-box-caption-content">
                                            <div class="project-name">
                                                <b>Plasma rico en plaquetas</b>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
-->


    <!--SERVICIOS movil-->
    <section id="servicios2" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h1 class= "section-heading">Nuestros servicios</h1>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="portfolio-item">
                                <a href="#" class="portfolio-box">
                                    <img class="img-portfolio img-responsive" src="../../static/img/visturi.JPG">
                                    <div class="portfolio-box-caption">
                                    </div>
                                    <div id="textServMovil" class="portfolio-box-caption-content">
                                        <div class="project-name">
                                            <b>Quiropodología</b>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="portfolio-item">
                                <a href="#" class="portfolio-box">
                                    <img class="img-portfolio img-responsive" src="../../static/img/podoDep.JPG">
                                    <div class="portfolio-box-caption"></div>
                                    <div id="textServMovil" class="portfolio-box-caption-content">
                                        <div class="project-name">
                                            <b>Podología Deportiva</b>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="portfolio-item">
                                <a href="#" class="portfolio-box">
                                    <img class="img-portfolio img-responsive" src="../../static/img/plantillas3.JPG">
                                    <div class="portfolio-box-caption"></div>
                                    <div id="textServMovil" class="portfolio-box-caption-content">
                                        <div class="project-name">
                                            <b>Plantillas Personalizadas</b>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>                
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="portfolio-item">
                                <a href="#" class="portfolio-box">
                                    <img class="img-portfolio img-responsive" src="../../static/img/portfolio-1.jpg">
                                    <div class="portfolio-box-caption">
                                    </div>
                                    <div id="textServMovil" class="portfolio-box-caption-content">
                                        <div class="project-name">
                                            <b>Cirugía Podológica</b>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="portfolio-item">
                                <a href="#" class="portfolio-box">
                                    <img class="img-portfolio img-responsive" src="../../static/img/portfolio-2.jpg">
                                    <div class="portfolio-box-caption"></div>
                                    <div id="textServMovil" class="portfolio-box-caption-content">
                                        <div class="project-name">
                                            <b>Terapia láser para hongos</b>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="portfolio-item">
                                <a href="#" class="portfolio-box">
                                    <img class="img-portfolio img-responsive" src="../../static/img/portfolio-3.jpg">
                                    <div class="portfolio-box-caption"></div>
                                    <div id="textServMovil" class="portfolio-box-caption-content">
                                        <div class="project-name">
                                            <b>Podología infantil</b>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="portfolio-item">
                                <a href="#" class="portfolio-box">
                                    <img class="img-portfolio img-responsive" src="../../static/img/portfolio-1.jpg">
                                    <div class="portfolio-box-caption">
                                    </div>
                                    <div id="textServMovil" class="portfolio-box-caption-content">
                                        <div class="project-name">
                                            <b>Pie diabético</b>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="portfolio-item">
                                <a href="#" class="portfolio-box">
                                    <img class="img-portfolio img-responsive" src="../../static/img/portfolio-2.jpg">
                                    <div class="portfolio-box-caption"></div>
                                    <div id="textServMovil" class="portfolio-box-caption-content">
                                        <div class="project-name">
                                            <b>Plasma rico en plaquetas</b>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="portfolio-item">
                                <a href="#" class="portfolio-box">
                                    <img class="img-portfolio img-responsive" src="../../static/img/portfolio-3.jpg">
                                    <div class="portfolio-box-caption"></div>
                                    <div id="textServMovil" class="portfolio-box-caption-content">
                                        <div class="project-name">
                                            <b>Ecografía</b>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="portfolio-item">
                                <a href="#" class="portfolio-box">
                                    <img class="img-portfolio img-responsive" src="../../static/img/portfolio-1.jpg">
                                    <div class="portfolio-box-caption">
                                    </div>
                                    <div id="textServMovil" class="portfolio-box-caption-content">
                                        <div class="project-name">
                                            <b>Posturología</b>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="portfolio-item">
                                <a href="#" class="portfolio-box">
                                    <img class="img-portfolio img-responsive" src="../../static/img/opto2.jpg">
                                    <div class="portfolio-box-caption"></div>
                                    <div id="textServMovil" class="portfolio-box-caption-content">
                                        <div class="project-name">
                                            <b>OptoGait</b>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="portfolio-item">
                                <a href="#" class="portfolio-box">
                                    <img class="img-portfolio img-responsive" src="../../static/img/portfolio-3.jpg">
                                    <div class="portfolio-box-caption"></div>
                                    <div id="textServMovil" class="portfolio-box-caption-content">
                                        <div class="project-name">
                                            <b>Recursos</b>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    




    <!-- Slider main container <div id="slideFondo"></div>-->
    <div id="swiper" class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="row text-center">
            <h1 class="section-heading">Nuestro equipamiento</h1>
            <br>
        </div>
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div id="imgSlide1" class="swiper-slide">
                <div class="text-vertical-center">
                    <h1>OptoGait</h1>
                </div>
            </div>
            <div id="imgSlide2" class="swiper-slide">
                <div class="text-vertical-center">
                    <h1>Laser</h1>
                </div>
            </div>
            <div id="imgSlide3" class="swiper-slide">
               <div class="text-vertical-center">
                    <h1>Ecógrafo</h1>
                </div>
            </div>
            <div id="imgSlide4" class="swiper-slide">
               <div class="text-vertical-center">
                    <h1>Otro</h1>
                </div>
            </div>
            <div id="imgSlide5" class="swiper-slide">
               <div class="text-vertical-center">
                    <h1>Otro</h1>
                </div>
            </div>
            <div id="imgSlide6" class="swiper-slide">
               <div class="text-vertical-center">
                    <h1>Otro</h1>
                </div>
            </div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>
        
        <!-- If we need navigation buttons 
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        -->
        
        <!-- If we need scrollbar
        <div class="swiper-scrollbar"></div>
         -->
    </div>


    


     


    

    <!-- About 
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Stylish Portfolio is the perfect theme for your next project!</h2>
                    <p class="lead">This theme features some wonderful photography courtesy of <a target="_blank" href="http://join.deathtothestockphoto.com/">Death to the Stock Photo</a>.</p>
                </div>
            </div>
        </div>
    </section>
-->

    

    <!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1 class="section-heading">El equipo</h1>
                    <h3 class="section-subheading text-muted">Profesionales a su disposición</h3>
                    <hr class="small">
                </div>
            </div>

            <div class="row text-center">
                <!-- Joaquin -->
                <div class="col-sm-6 col-sm-offset-3 text-center">
                    <div class="team-member">
                        <a href="CVJ">
                            <div class="container1">
                              <div class="div-img" >
                                <img class="img1" src="../../static/img/portfolio-2.jpg">
                                <div class="text">Ver Curriculum</div>
                              </div>
                            </div>
                        </a>
                        <h3 class="nombreEquipo">Joaquín Páez Moguer</h3>
                        <h4 class="text-muted">Director Clínica Podológica Páez</h4>
                    </div>
                </div>
            </div>
                <!-- Pilar -->
                <div class = "row">
                    <div class="col-sm-4 text-center">
                        <div class="team-member text-center">
                            <a href="CVP">
                               <div class="container1">
                                  <div class="div-img" >
                                    <img class="img1" src="../../static/img/portfolio-3.jpg">
                                    <div class="text">Ver Curriculum</div>
                                  </div>
                                </div>
                            </a>
                            <h3 class="nombreEquipo">Pilar Camarero Gómez</h3>
                            <h4 class="text-muted">Podóloga</h4>
                        </div>
                    </div>
                    <!-- Juan Manuel -->
                    <div class="col-sm-4 text-center">
                        <div class="team-member text-center">
                            <a href="CVJU">
                               <div class="container1">
                                  <div class="div-img" >
                                    <img class="img1" src="../../static/img/portfolio-1.jpg">
                                    <div class="text">Ver Curriculum</div>
                                  </div>
                                </div>
                            </a>
                            <h3 class="nombreEquipo">Juan Manuel Escudero Prado</h3>
                            <h4 class="text-muted">Podólogo</h4>
                        </div>
                    </div>
                    <!-- Ramona -->
                    <div class="col-sm-4 text-center">
                        <div class="team-member text-center">
                            <a href="CVR">
                               <div class="container1">
                                  <div class="div-img" >
                                    <img class="img1" src="../../static/img/portfolio-2.jpg">
                                    <div class="text">Ver Curriculum</div>
                                  </div>
                                </div>
                            </a>
                            <h3 class="nombreEquipo">Ramona Gutierrez Gallego</h3>
                            <h4 class="text-muted">Podóloga</h4>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>

    <!-- Team Section - MOVIL -->
    <section id="team2" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1 class="section-heading">El equipo</h1>
                    <h3 class="section-subheading text-muted">Profesionales a su disposición</h3>
                </div>
            </div>

            <div class="row text-center">
                <!-- Joaquin -->
                <div class="col-md-6 col-sm-6 col-xs-6 text-center">
                    <div class="team-member">
                        <a href="CVJ-mov">
                            <div class="container1">
                              <div class="div-img" >
                                <img class="img1" src="../../static/img/portfolio-2.jpg">
                                <div class="text">Ver Curriculum</div>
                              </div>
                            </div>
                        </a>
                        <h4 class="nombreEquipo">Joaquín Páez Moguer</h4>
                        <h5 class="text-muted">Director Clínica Podológica Páez</h5>
                    </div>
                </div>
                <!-- Pilar -->
                <div class="col-md-6 col-sm-6 col-xs-6 text-center">
                    <div class="team-member text-center">
                        <a href="CVP-mov">
                           <div class="container1">
                              <div class="div-img" >
                                <img class="img1" src="../../static/img/portfolio-3.jpg">
                                <div class="text">Ver Curriculum</div>
                              </div>
                            </div>
                        </a>
                        <h4 class="nombreEquipo">Pilar Camarero Gómez</h4>
                        <h5 class="text-muted">Podóloga</h5>
                    </div>
                </div>
            </div>
            <div class = "row">
                <!-- Juan Manuel -->
                <div class="col-md-6 col-sm-6 col-xs-6 text-center">
                    <div class="team-member text-center">
                        <a href="CVJU-mov">
                           <div class="container1">
                              <div class="div-img" >
                                <img class="img1" src="../../static/img/portfolio-1.jpg">
                                <div class="text">Ver Curriculum</div>
                              </div>
                            </div>
                        </a>
                        <h4 class="nombreEquipo">Juan Manuel Escudero Prados</h4>
                        <h5 class="text-muted">Podólogo</h5>
                    </div>
                </div>
                <!-- Ramona -->
                <div class="col-md-6 col-sm-6 col-xs-6 text-center">
                    <div class="team-member text-center">
                        <a href="CVR-mov">
                           <div class="container1">
                              <div class="div-img" >
                                <img class="img1" src="../../static/img/portfolio-2.jpg">
                                <div class="text">Ver Curriculum</div>
                              </div>
                            </div>
                        </a>
                        <h4 class="nombreEquipo">Ramona Gutierrez Gallego</h4>
                        <h5 class="text-muted">Podóloga</h5>
                    </div>
                </div>
            </div>
                
            </div>
        </div>
    </section>
    
    <a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
    

        

        <!-- Map 
        <section id="map">
        <div class="row text-center">
            <div class="col-md-12">
                <h2>Ubicación</h2>
                <br>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3198.0114972290635!2d-4.420736583478484!3d36.722285109910715!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd72f7bfc1298c35%3A0x258f56cf28d6bc71!2sCl%C3%ADnica+Podologica+P%C3%A1ez!5e0!3m2!1ses!2ses!4v1485285595354" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </section>
        -->
    







    <!-- Footer 
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong>Start Bootstrap</strong>
                    </h4>
                    <p>3481 Melrose Place
                        <br>Beverly Hills, CA 90210</p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-phone fa-fw"></i> (123) 456-7890</li>
                        <li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:name@example.com">name@example.com</a>
                        </li>
                    </ul>
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
                        </li>
                    </ul>
                    <hr class="small">
                    <p class="text-muted">Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </div>
        </footer>
        -->
    
        

        <!-- Callout
        <aside class="callout">
            <div class="text-vertical-center">
                <h1>Cuidados Personalizados</h1>
            </div>
        </aside>
        -->
<!--  
    <a class="twitter-timeline" data-width="300" data-height="600" href="https://twitter.com/PodolgicaPaez">Tweets by PodolgicaPaez</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

    <a class="twitter-timeline" data-lang="es" data-width="300" data-height="600" data-theme="light" href="https://twitter.com/DiarioSUR">Tweets by DiarioSUR</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
-->

  



<!-- Services 
    <section id="services" class="services bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>Nuestros Servicios</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-cloud fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Podología Deportiva</strong>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <a href="#" class="btn btn-light">Saber más</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-compass fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Cirugía Podológica</strong>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <a href="#" class="btn btn-light">Saber más</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-flask fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Terapia Laser</strong>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <a href="#" class="btn btn-light">Saber más</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-shield fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Plasma Rico en Plaquetas</strong>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <a href="#" class="btn btn-light">Saber más</a>
                            </div>
                        </div>
                    </div>
                    
                </div>
                
            </div>
            
        </div>
        
    </section>
    -->

     <!-- Call to Action
    <aside class="call-to-action bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>The buttons below are impossible to resist.</h3>
                    <a href="#" class="btn btn-lg btn-light">Click Me!</a>
                    <a href="#" class="btn btn-lg btn-dark">Look at Me!</a>
                </div>
            </div>
        </div>
    </aside>




    <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
     -->


         <!-- Team Section with round images
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">El equipo</h2>
                    <h3 class="section-subheading text-muted">Profesionales a su disposición</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-sm-6 text-center">
                    <div class="team-member">
                        <a href="CVJ">
                            <img id="imgEquipo" src="../../static/img/portfolio-1.jpg" class="img-responsive img-circle text-center" alt="">
                        </a>
                        <h4>Joaquín Páez Moguer</h4>
                        <p class="text-muted">Director Clínica Podológica Páez</p>
                    </div>
                </div>
                <div class="col-sm-6 text-center">
                    <div class="team-member text-center">
                        <a href="CVP"><img id="imgEquipo" src="../../static/img/portfolio-2.jpg" class="img-responsive img-circle text-center" alt=""></a>
                        <h4>Pilar Camarero Gómez</h4>
                        <p class="text-muted">Podóloga</p>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    -->
</body>

</html>
