<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Clínica Páez</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../static/css/style.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="../../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../static/js/bootstrap.min.js"></script>

    <!-- JavaScript -->
    <script src="../../static/js/principal.js"></script>

    <!-- Custom Fonts -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!--Swiper-->
    <link href="../../static/css/slides.css" rel="stylesheet">
    <script type="text/javascript" src="../../static/js/swiper.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/css/swiper.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/css/swiper.min.css">
     
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.jquery.min.js"></script>

</head>

<body>

    <!-- PESTAÑAS -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a id="nombre" class="navbar-brand page-scroll" href="../">Clínica Podológica Páez</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="">Quiropodología</a>
                    </li>
                    <li>
                        <a class="page-scroll" onclick="history.go(-1);">Atrás</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <section id="quiropodologia" class="serviciosViews">
        <div class="container">
            <div id="quiro1" class="row">
                    <h2 class="titleSerView">¿Sufres de dolor en los pies?</h2>
                    <p class="textSerView">El 55% de los adultos sufre dolor de pies, que en algunos casos llega a ser muy limitante para la vida diaria. La presencia de callos, uñas encarnadas, infecciones, inflamación de los pies y piernas, problemas de la piel, etc., disminuyen de forma considerable la calidad de vida.
                    <br><br>
                    La <b>Quiropodología</b> es el área de la podología que consiste en el tratamiento mediante técnicas manuales de las lesiones de la piel y uñas de los pies.
                    <br><br>
                    En <b>Clínica Podológica Páez</b>, tratamos en el motivo por el que se originan estas lesiones, ofreciendo un tratamiento de calidad para una solución definitiva del problema.
                    </p>
                    <h2 class="titleSerView">¿De qué tratamientos disponemos?</h2>
                    <br>
                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    <ul class="textSerView">
                        <li>Eliminación de durezas y callos (helomas).</li>
                        <li>Corte y fresado de uñas.</li>
                        <li>Alteraciones de las uñas (uñas encarnadas, engrosadas, etc.).</li>
                        <li>Diagnóstico y tratamiento de hongos en las uñas.</li>
                        <li>Diagnóstico y tratamiento de hongos en la piel.</li>
                        <li>Infecciones bacterianas.</li>
                        <li>Diagnóstico y tratamiento de papilomas.</li>
                        <li>Ortesis de silicona para deformidades de dedos.</li>
                    </ul>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                    <div id="swiperQuiro" class="swiper-container swiper-containerServ">
                        <div class="swiper-wrapper">
                            <div id="swiper-slideQuiro1" class="swiper-slide servSlides"><h3 class="servSlideText">Callos y durezas</h3></div>
                            <div id="swiper-slideQuiro2" class="swiper-slide servSlides"><h3 class="servSlideText">Uñas fresadas</h3></div>
                            <div id="swiper-slideQuiro3" class="swiper-slide servSlides"><h3 class="servSlideText">Uña encarnada</h3></div>
                            <div id="swiper-slideQuiro4" class="swiper-slide servSlides"><h3 class="servSlideText">Uñas alteradas</h3></div>
                            <div id="swiper-slideQuiro5" class="swiper-slide servSlides"><h3 class="servSlideText">Hongos en uña</h3></div>
                            <div id="swiper-slideQuiro6" class="swiper-slide servSlides"><h3 class="servSlideText">Hongos en la piel</h3></div>
                            <div id="swiper-slideQuiro7" class="swiper-slide servSlides"><h3 class="servSlideText">Infección</h3></div>
                            <div id="swiper-slideQuiro8" class="swiper-slide servSlides"><h3 class="servSlideText">Papiloma</h3></div>
                            <div id="swiper-slideQuiro9" class="swiper-slide servSlides"><h3 class="servSlideText">Papiloma</h3></div>
                            <div id="swiper-slideQuiro10" class="swiper-slide servSlides"><h3 class="servSlideText">Ortesis de silicona</h3></div>
                        </div>
                        <br><br>
                        <!-- Add Pagination -->
                        <div class="swiper-pagination swiperPaginationQuiro"></div>
                    </div>
                </div>
            </div>
        </div>
</section>  

    <div class="col-sm-6 col-sm-offset-3 text-center">           
        <button onclick="history.go(-1);" id="botonVolver" class="btn btn-primary">Volver</button>
    </div>

</body>