<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Clínica Páez</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../static/css/style.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="../../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../static/js/bootstrap.min.js"></script>

    <!-- JavaScript -->
    <script src="../../static/js/principal.js"></script>

    <!-- Custom Fonts -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">



</head>

<body>

    <!-- PESTAÑAS -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a id="nombre" class="navbar-brand page-scroll" href="../">Clínica Podológica Páez</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="">Terápia Laser</a>
                    </li>
                    <li>
                        <a class="page-scroll" onclick="history.go(-1);">Atrás</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <section id="podologiaDeportiva" class="serviciosViews">
        <div class="container">
            <div id="quiro1" class="row">
                <h1></h1>
                <h2 class="titleSerView">¿Qué es la Onicomicosis? </h2>
                <hr class="small">
                <div id="podoDepText" class="col-md-6">
                    <p class="textSerView">
                        La Onicomicosis es la infección de hongos mohos y levaduras de las uñas, siendo esta frecuente en las uñas de los pies, con una incidencia del 8% de la población, afectando principalmente al primer dedo, aunque también puede afectar al resto de dedos.
                        <br><br>
                        Los hongos y levaduras se alimentan de la queratina que forma la uña, generando problemas estéticos, provocando el deterioro y la deformación de la uña. 
                        <br><br>
                        Suelen contagiarse en ambientes húmedos y cálidos, como piscinas y duchas públicas, teniendo más riesgo de contagio los pacientes diabéticos y aquellos pacientes con problemas circulatorios en los pies.
                        <br><br>
                        Si observa que aparecen cambios de color, fragilidad y engrosamiento en sus uñas de los pies, estos pueden indicar la presencia un hongo ungueal.  La infección comienza por generalmente por una zona de la uña, y esta se va extendiendo llegando a afectar al resto de las uñas. 
                    </p>
                </div>
                <div  class="col-md-6 text-center">
                    <img id="podoDepImg" src="../../static/img/terapiaLaser/1.png">
                </div>
            </div>
            <div id="quiro1" class="row">
                <h1></h1>
                <h2 class="titleSerView">¿Cómo podemos tratar los Hongos de las Uñas?</h2>
                <hr class="small">
                <div  class="col-md-6 text-center">
                    <img id="podoDepImg2" src="../../static/img/terapiaLaser/2.png">
                </div>
                <div class="col-md-6">
                    <p id="podoDepText2" class="textSerView">
                        Es muy importante realizar una detección precoz, para realizar el tratamiento en las fases iniciales, ya que con el paso del tiempo la Onicomicosis se va extendiendo afectando a una mayor zona y al resto de las uñas.
                        <br><br>
                        Existen diferentes tratamientos tópicos y orales para el tratamiento de la Onicomicosis, aunque la mayoría de ellos tienen una de efectividad limitada, en la Clínica Podológica Páez, utilizamos el LÁSER de Diodo FOX 1064 mm., de última generación, con luz infrarroja que penetra la lámina ungueal, dañando la pared celular de los patógenos causando la muerte celular e inhibiendo su crecimiento posterior. 
                        <br><br>
                        La Técnica LÁSER, ofrece un método eficaz, rápido e indoloro en el tratamiento de pacientes con Onicomicosis.  
                    </p>
                </div>
            </div>
            <div id="quiro1" class="row">
                <h1></h1>
                <h2 class="titleSerView"> ¿En qué consiste el Tratamiento LÁSER en la Onicomicosis?</h2>
                <hr class="small">
                <div id="podoDepText3" class="col-md-12">
                    <p class="textSerView">
                        El LÁSER Nd-YAG Fox III utiliza la longitud de onda de 1064 mm. (luz infrarroja cercana) para tratar y erradicar los hongos de uñas con facilidad. La radiación térmica del láser penetra en la placa ungueal y el eponiquio, alcanzando el lecho ungueal infectado. 
                        <br><br>
                        A través de este sistema se consigue elevar de forma inmediata la temperatura de los microorganismos y alcanzar los hongos más profundos, dañando su pared celular lo que produce su destrucción, sin causar daños al tejido sano.
                        <br><br>
                        El tratamiento LÁSER tiene una tasa de éxito del 85%, muy superior frente a otros tratamientos como los tópicos y orales que solo consiguen un 8% de curación.
                    </p>
                </div>
                <div  class="col-md-12 text-center">
                    <img id="podoDepImg3" src="../../static/img/terapiaLaser/3.png">
                </div>
            </div>

            <div id="quiro1" class="row">
                <h1></h1>
                <h2 class="titleSerView">¿Cuántas sesiones son necesarias para eliminar la Onicomicosis?</h2>
                <hr class="small">
                <div id="" class="col-md-12">
                    <p class="textSerView">
                        El tratamiento con LÁSER, en función del tamaño de la uña dura entre 1- 3 minutos por uña y son necesarias 4-5 sesiones de promedio en función de la gravedad, espaciadas cada 3 semanas. Siendo un tratamiento indoloro sin efectos secundarios.
                        <br><br>
                        Después del tratamiento con LÁSER, los pacientes pueden volver a su actividad normal sin limitaciones.
                        <br><br>
                    </p>
                </div>
                <div  class="col-md-6 text-center">
                    <img id="" src="../../static/img/terapiaLaser/antes.png">
                </div>
                <div  class="col-md-6 text-center">
                    <img id="" src="../../static/img/terapiaLaser/despues.png">
                </div>
            </div>
            
        </div>
    </section>


</body>